<!-- eslint-disable vue/no-v-html -->
<template>
  <div class="m-0">
    <client-only>
      <section style="width: 100%" class="m-0">
        <div class="content-wrap m-0" style="width: 100%">
          <div class="container clearfix">
            <!-- Contact Form
            =============================================-->
            <div class="col_half">
              <div class="fancy-title title-dotted-border">
                <h1>Send Jumalu Fencing an email</h1>
                <!-- {{ form }} -->
              </div>
              <b-form v-if="show" small @submit="onSubmit" @reset="onReset">
                <b-form-group
                  id="input-group-name"
                  label="NAME AND SURNAME *"
                  label-for="name"
                  label-size="md"
                >
                  <b-form-input
                    id="name"
                    v-model="form.name"
                    required
                    size="md"
                    placeholder="Full name"
                  />
                </b-form-group>

                <b-form-group
                  id="input-group-emailow"
                  label-for="emailow"
                  label="EMAIL *"
                  label-size="md"
                >
                  <b-form-input
                    id="emailclient1"
                    v-model="form.emailclient1"
                    type="email"
                    size="md"
                    required
                  />
                  <b-form-input id="emailclient2" type="email" size="md" />
                </b-form-group>

                <b-form-group
                  id="input-group-phone"
                  label-for="phone"
                  label="PHONE *"
                  label-size="md"
                >
                  <b-form-input id="phone" v-model="form.phone" size="md" required />
                </b-form-group>
                <b-form-group
                  id="input-group-coating"
                  label="Product type:"
                  label-for="service"
                  label-size="md"
                >
                  <b-form-select id="service" v-model="form.service" :options="services" />
                </b-form-group>
                <b-form-group
                  id="input-group-coating"
                  label="Coating:"
                  label-for="coating"
                  label-size="md"
                >
                  <b-form-select id="coating" v-model="form.coating" :options="coatings" />
                </b-form-group>

                <b-form-group
                  id="input-group-coating"
                  label="Application type:"
                  label-for="application"
                  label-size="md"
                >
                  <b-form-select
                    id="application"
                    v-model="form.application"
                    :options="applications"
                  />
                </b-form-group>

                <b-form-group
                  id="input-group-fencelength"
                  label-for="fencelength"
                  label="FENCE LENGTH *"
                  label-size="md"
                >
                  <b-form-input id="fencelength" v-model="form.fencelength" size="md" required />
                </b-form-group>
                <b-form-group
                  id="input-group-location"
                  label-for="location"
                  label="INSTALLATION LOCATION *"
                  label-size="md"
                >
                  <b-form-input id="location" v-model="form.location" size="md" required />
                </b-form-group>
                <b-form-group
                  id="input-group-message"
                  label="MESSAGE"
                  label-for="input-5"
                  label-size="md"
                >
                  <b-form-textarea
                    id="message"
                    v-model="form.message"
                    placeholder="Message"
                    rows="3"
                    max-rows="6"
                  />
                </b-form-group>
                <recaptcha
                  data-sitekey="6Lf775MUAAAAAIRFdC1YeRDzavYfBNuWDVWCLFcD"
                  @error="onError"
                  @success="onSuccess"
                  @expired="onExpired"
                />
                <b-button
                  id="submit"
                  type="submit"
                  variant="success"
                  class="button button-3d nomargin"
                >
                  Submit
                </b-button>
                <b-button
                  id="reset"
                  type="reset"
                  variant="danger"
                  class="button button-3d nomargin"
                >
                  Reset
                </b-button>
              </b-form>
            </div>
            <!-- Contact Form End -->
            <!-- Google Map
            =============================================-->
            <div class="col_half col_last">
              <gmap-map :center="center" :map-type-id="mapTypeId" :zoom="14">
                <gmap-marker
                  v-for="(item, index) in markers"
                  :key="index"
                  :position="item.position"
                  @click="center = item.position"
                />
              </gmap-map>
            </div>
            <!-- Google Map End -->
            <a>Physical Address:</a>
            <a>23 Dakota Crescent</a>
            <br>
            <a>Airport Park</a>
            <br>
            <a>Corner of Dakota and Blackreef Roads</a>
            <br>
            <a>Germiston, South Africa</a>
            <br>
            <br>
            <abbr title="Phone Number">
              <strong>Phone:</strong>
            </abbr>
            <a href="tel:086 110 0224">086 110 0224</a>
            <br>
            <abbr title="Email Address">
              <strong>Email:</strong>
            </abbr>
            <span v-html="companyemail"></span>
            <br>
            <abbr title="Direct Sales">
              <strong>Direct Sales:</strong>
            </abbr>
            <a href="tel:+(27) 79 582 8452">+(27) 79 582 8452</a>
            <br>
            <abbr title="Or">
              <strong>Or:</strong>
            </abbr>
            <a href="tel:+(27) 82 215 2568">+(27) 82 215 2568</a>
            <br>
            <abbr title="Office Hours:">
              <strong>Office Hours:</strong>
            </abbr>
            <a>Monday to Friday 8AM to 4:30PM</a>
            <br>
            <div class="clear"></div>
            <!-- Contact Info
            =============================================-->
            <div class="row clear-bottommargin">
              <div class="col-lg-3 col-md-6 bottommargin clearfix">
                <div class="feature-box fbox-center fbox-bg fbox-plain">
                  <div class="fbox-icon">
                    <a>
                      <i class="icon-map-marker2"></i>
                    </a>
                  </div>
                  <h3>
                    Our Headquarters
                    <span class="subtitle">Germiston, South Africa</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 bottommargin clearfix">
                <div class="feature-box fbox-center fbox-bg fbox-plain">
                  <div class="fbox-icon">
                    <a>
                      <i class="icon-phone3"></i>
                    </a>
                  </div>
                  <h3>
                    Speak to Us
                    <span class="subtitle">
                      <span>
                        <a href="tel:086 110 0224">086 110 0224</a>
                      </span>
                    </span>
                  </h3>
                  <h3>
                    Or
                    <span class="subtitle">
                      <span>
                        <a href="tel:+27 010 216 9205">+27 010 216 9205</a>
                      </span>
                    </span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 bottommargin clearfix">
                <div class="feature-box fbox-center fbox-bg fbox-plain">
                  <div class="fbox-icon">
                    <a>
                      <i class="icon-line2-envelope"></i>
                    </a>
                  </div>
                  <h3>
                    Email Us
                    <span class="subtitle" v-html="companyemail"></span>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Contact Info End -->
          </div>
        </div>
      </section>
      <!-- #content end -->
    </client-only>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      companyemail:
        '<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#106;&#117;&#109;&#097;&#108;&#117;&#116;&#101;&#099;&#104;&#046;&#099;&#111;&#046;&#122;&#097;">&#105;&#110;&#102;&#111;&#064;&#106;&#117;&#109;&#097;&#108;&#117;&#116;&#101;&#099;&#104;&#046;&#099;&#111;&#046;&#122;&#097;</a>',
      center: { lat: -26.239354, lng: 28.161962 },
      mapTypeId: 'roadmap',
      markers: [{ position: { lat: -26.239354, lng: 28.161962 } }],
      form: {
        emailclient1: '',
        emailclient2: '',
        name: '',
        phone: '',
        fencelength: '',
        location: '',
        coating: null,
        service: null,
        application: null,
        message: ''
      },
      coatings: [
        { value: null, text: '-- Not Sure --' },
        { value: 'Pre Galvanised', text: 'Pre Galvanised' },
        { value: 'Hot Dip Galvanised', text: 'Hot Dip Galvanised' },
        { value: 'Polyester Powder Coated', text: 'Polyester Powder Coated' },
        { value: 'Plastic Coated', text: 'Plastic Coated' }
      ],
      services: [
        { value: null, text: '-- Not Sure --' },
        {
          label: 'HiSecure',
          options: [
            {
              value: 'HiSecure (12mm x 76mm) -1.2m Height',
              text: 'HiSecure (12mm x 76mm) -1.2m Height'
            },
            {
              value: 'HiSecure (12mm x 76mm) -1.8m Height',
              text: 'HiSecure (12mm x 76mm) -1.8m Height'
            },
            {
              value: 'HiSecure (12mm x 76mm) -2m Height',
              text: ' HiSecure (12mm x 76mm) -2m Height'
            },
            {
              value: 'HiSecure (12mm x 76mm) -2.4m Height',
              text: 'HiSecure (12mm x 76mm) -2.4m Height'
            }
          ]
        },
        {
          label: 'EconoSecure',
          options: [
            {
              value: 'EconoSecure (50mm x 100mm) -1.8m Height',
              text: 'EconoSecure (50mm x 100mm) -1.8m Height'
            },
            {
              value: 'EconoSecure (50mm x 100mm) -2.0m Height',
              text: 'EconoSecure (50mm x 100mm) -2.0m Height'
            },
            {
              value: 'EconoSecure (50mm x 100mm) -2.4m Height',
              text: 'EconoSecure (50mm x 100mm) -2.4m Height'
            },
            {
              value: 'EconoSecure (50mm x 200mm) -1.8m Height',
              text: 'EconoSecure (50mm x 200mm) -1.8m Height'
            },
            {
              value: 'EconoSecure (50mm x 200mm) -2.0m Height',
              text: 'EconoSecure (50mm x 200mm) -2.0m Height'
            },
            {
              value: 'EconoSecure (50mm x 200mm) -2.4m Height',
              text: 'EconoSecure (50mm x 200mm) -2.4m Height'
            }
          ]
        },
        {
          label: 'MaxiSecure',
          options: [
            {
              value: 'MaxiSecure (25mm x 76mm) -2.4m Height',
              text: 'MaxiSecure (25mm x 76mm) -2.4m Height'
            },
            {
              value: 'MaxiSecure (25mm x 76mm) -1.8m Height',
              text: 'MaxiSecure (25mm x 76mm) -1.8m Height'
            },
            {
              value: 'MaxiSecure (25mm x 76mm) -2m Height',
              text: 'MaxiSecure (25mm x 76mm) -2m Height'
            }
          ]
        },
        {
          label: 'SimpliSecure',
          options: [
            {
              value: 'SimpliSecure (25mm x 76mm) -2.4m Height',
              text: 'SimpliSecure (25mm x 76mm) -2.4m Height'
            },
            {
              value: 'SimpliSecure (25mm x 76mm) -1.8m Height',
              text: 'SimpliSecure (25mm x 76mm) -1.8m Height'
            },
            {
              value: 'SimpliSecure (25mm x 76mm) -2m Height',
              text: 'SimpliSecure (25mm x 76mm) -2m Height'
            }
          ]
        }
      ],
      applications: [
        { value: null, text: ' -- Select One --' },
        { value: 'Installed', text: 'Installed' },
        { value: 'KIT', text: 'KIT' }
      ],
      show: true
    }
  },
  computed: {
    ...mapGetters('client', ['getClient']),
    client () {
      return this.getClient
    },
    jsonld () {
      if (!this.client) {
        return null
      }
      return {
        '@context': 'http://schema.org',
        '@type': 'Organization',
        name: this.client.name,
        legalName: this.client.legalName,
        '@id': this.client['@id'],
        logo: this.client.logo,
        image: this.client.image,
        foundingDate: this.client.foundingDate,
        founders: this.client.founders,
        address: this.client.address,
        geo: this.client.geo,
        contactPoint: this.client.contactPoint,
        sameAs: this.client.sameAs,
        url: this.client.url,
        description: this.client.description,
        telephone: this.client.telephone,
        openingHoursSpecification: this.client.openingHoursSpecification,
        priceRange: this.client.priceRange
      }
    },
    team () {
      if (!this.client.founders) {
        return null
      }
      return this.client.founders
    },
    getBase () {
      const url = '/include/3CF9A8EB272A45D1B9E780E3E37A61F0.php'
      return url
    }
  },
  async mounted () {
    this.$ga.page(this.$route.path)
    this.$ga.event({
      eventCategory: 'enquiry',
      eventAction: 'browse',
      eventLabel: 'contactus',
      eventValue: 5
    })
    await this.$recaptcha.init()
  },
  methods: {
    async onSubmit (evt) {
      try {
        evt.preventDefault()
        const isHuman = this.form.emailclient2.length === 0
        if (this.$recaptcha) {
          const recaptchaToken = await this.$recaptcha.getResponse()
          if (isHuman) {
            this.submitForm(recaptchaToken)
          }
        }
      } catch (error) {
        // this.showSubmitError({ message: error, type: 'error' })
        this.$ga.event('form', 'submit', error)
      }
    },
    async submitForm (recaptchaToken) {
      // console.log('submitForm data: ', { ...this.form, recaptchaToken })
      try {
        const response = await this.$axios.$post(this.getBase, {
          ...this.form,
          recaptchaToken
        })
        if (response.statusCode === 200) {
          this.$ga.event('form', 'submit', 'contact') // GOOGLE ANALYTICS TRACKING
          // this.$gtag('event', 'conversion', { 'send_to': 'AW-706272574/3sLuCKXj1qwBEL6649AC' }) //GOOGLE ADS TRACKING
          this.$gtm.push({ event: 'contactsubmit', ...this.form }) // GOOGLE TAG MANAGER TRACKING
          this.clearForm()
          this.showSubmit()
        } else {
          this.$ga.event('form', 'submit', 'contactServiceError')
          this.showSubmitError()
        }
      } catch (error) {
        this.$ga.event('form', 'submit', 'contactServiceError')
        this.showSubmitError({ message: error })
      }
    },
    async onReset (evt) {
      evt.preventDefault()
      this.clearForm()
      this.showReset()
      await this.$recaptcha.init()
    },
    clearForm () {
      this.form.emailclient1 = ''
      this.form.emailclient2 = ''
      this.form.name = ''
      this.form.phone = ''
      this.form.fencelength = ''
      this.form.location = ''
      this.form.coating = null
      this.form.service = null
      this.form.application = null
      this.form.message = ''
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    onSuccess () {
      // this.showRecaptchaSuccess()
    },
    onError () {
      this.showRecaptchaError()
      // await this.$recaptcha.init()
    },
    onExpired () {
      this.showRecaptchaExpired()

      // await this.$recaptcha.init()
    }
  },
  notifications: {
    showRecaptchaError: {
      title: 'Recaptcha Failed',
      message: 'Please try again or call us directly',
      type: 'error'
    },
    showRecaptchaExpired: {
      title: 'Recaptcha Expired',
      message: 'Please try again or call us directly',
      type: 'error'
    },
    showRecaptchaSuccess: {
      title: 'Recaptcha confirmed',
      message: 'You may now submit the form.',
      type: 'success'
    },

    showSubmit: {
      title: 'Enquiry submitted',
      message:
        'We have received your message and look forward to chatting with you soon.',
      type: 'success'
    },
    showSubmitError: {
      title: 'Submit Failed',
      message: 'Please try again or call us directly',
      type: 'error'
    },
    showReset: {
      title: 'Form reset',
      message: '',
      type: 'error'
    }
  },
  head () {
    let content = `${process.env.baseUrl}${this.$route.path}`
    content = content.slice(-1) !== '/' ? content + '/' : content
    return {
      title: this.client.title,
      meta: [
        {
          hid: 'og:url',
          property: 'og:url',
          content
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.client.title
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.client.description
        },
        {
          hid: 'description',
          name: 'description',
          content: this.client.description
        }
      ],

      script: [
        { innerHTML: JSON.stringify(this.jsonld), type: 'application/ld+json' }
      ],
      __dangerouslyDisableSanitizers: ['script']
    }
  }
}
</script>

<style lang="scss" scoped>
.vue-map-container {
  height: 450px;
  max-width: 992px;
  width: 100%;
}
#emailclient2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
</style>
