<template>
  <div>
    <SliderComponent />
    <section id="content">
      <div class="content-wrap">
        <div class="section header-stick">
          <h1 class="center nobottommargin">
            <img src="/images/clamberprufe-logo.png" alt="clearview fencing" style="height:100px"></img><br>
            ClamberPrufe Clear View Fencing Products
          </h1>
        </div>
        <div class="container clearfix">
          <!-- <p class="text-left"> -->
          <h4>Jumalu Fencing manufactures ClamberPrufe Clear View Fencing, with our headquarters in Gauteng, South Africa.</h4>
          <p>
            To support our product, we have our certified installers that can erect your fencing solution purchased from Jumalu.
            Before making your purchase with Jumalu, we analyze your fencing requirement to provide you with the best and most cost-effective fencing solution.
            Finance is available for any solution through our partner HomeFin.
          </p>
          <p>
            We supply ClamberPrufe fencing kits if you prefer to erect the fence yourself or use another contractor.
            The fence kit comes complete with fence panels, post, clamps and tek screws.
          </p>
          <p>Jumalu can arrange delivery at a nominal fee, or you can collect from our warehouse in Germiston.</p>
          <!-- </p> -->

          <b-tabs
            id="construction-tabs"
            v-model="tabIndex"
            content-class="mt-3"
            fill
            class="tab-container"
          >
            <b-tab id="ANTITERROR" title="ANTI-TERROR" active class="tab-content clearfix" href="#ANTITERROR">
              <div id="tabs-20" class="tab-content clearfix">
                <p>
                  ClamberPrufe Anti-Terror Clear View Fence Series is a high security solution for properties situated in high risk areas.
                  The fence has a compact wire arrangement offering maximum protection with the clear view aesthetic.
                  This fence type is ideal for industrial properties, security estates, shopping malls , office parks and residential properties.
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/HISECURE 12X76 800_500.jpg"
                        alt="Anti-Terror Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ANTI-TERROR
                        <span class="subtitle">Maximum Security Fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 5.6mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 76.2 (Vert) x 12.7 (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4(H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px;border-radius: 5px;"
                        src="/images/services/antiterror.png"
                        alt="Anti-terror Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ANTI-TERROR
                        <span class="subtitle">Maximum security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab id="HISECURE" title="HISECURE" class="tab-content clearfix" href="#HISECURE">
              <div id="tabs-21" class="tab-content clearfix">
                <p>
                  ClamberPrufe HiSecure Clear View Fence Series is a high security solution for properties situated in high risk areas.
                  The fence has a compact wire arrangement offering maximum protection with the clear view aesthetic.
                  This fence type is ideal for industrial properties, security estates, shopping malls , office parks and residential properties.
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/HISECURE 12X76 800_500.jpg"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE HISECURE (VERTICAL)
                        <span class="subtitle">High Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 4mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 76.2 (Vert) x 12.7 (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.2/1.8/2/2.4/3 (H) x 2.5/3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px;border-radius: 5px;"
                        src="/images/services/hisecureblue.png"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE HISECURE (VERTICAL)
                        <span
                          class="subtitle"
                        >High Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/hisecurehorizontal.jpg"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE HISECURE (HORIZONTAL)
                        <span class="subtitle">High Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 3mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 12.7mm (Vert) x 76.2mm (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px; border-radius: 5px;"
                        src="/images/services/hisecurehorizontalblue.png"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE HISECURE (HORIZONTAL)
                        <span
                          class="subtitle"
                        >High Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab id="ECONOSECURE" title="ECONOSECURE" class="tab-content clearfix" href="#ECONOSECURE">
              <div id="tabs-22" class="tab-content clearfix">
                <p>
                  ClamberPrufe EconoSecure Clear View Fence Series is a medium security solution for properties requiring a perimeter fence solution.
                  The fence has a larger wire arrangement offering medium protection with the clear view aesthetic.
                  This fence type is ideal for schools, sports fields and recreational facilities
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/EconoSecure50x100.jpg"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ECONOSECURE (4x4/50x100)
                        <span
                          class="subtitle"
                        >Medium Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 4mm (main) x 4mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 100 (Vert) x 50 (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px;border-radius: 5px;"
                        src="/images/services/Econosecure50x100blue.png"
                        alt="EconoSecure 50x100 Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ECONOSECURE (50 x 100)
                        <span
                          class="subtitle"
                        >Medium Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/ECONOSECURE 50X200 800_500.jpg"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ECONOSECURE (4x4/50x200)
                        <span
                          class="subtitle"
                        >Medium Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 4mm (main) x 4mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 200 (Vert) x 50 (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px; border-radius: 5px;"
                        src="/images/services/econosecure50x200blue.png"
                        alt="EconoSecure 50x200 Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ECONOSECURE (50 x 200)
                        <span
                          class="subtitle"
                        >Medium Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab id="MAXISECURE" title="MAXISECURE" class="tab-content clearfix" href="#MAXISECURE">
              <div id="tabs-23" class="tab-content clearfix">
                <p>
                  ClamberPrufe MaxiSecure Clear View Fence Series is a high security solution for properties situated in high risk areas.
                  The fence has a compact wire arrangement offering maximum protection with the clear view aesthetic.
                  This fence type is ideal for industrial properties, security estates, shopping malls , office parks and residential properties.
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/MAXISECURE 800_500.jpg"
                        alt="MaxiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE MAXISECURE
                        <span class="subtitle">Budget Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 4mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 76.2MM (Vert) x 25MM (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab id="SIMPLISECURE" title="SIMPLISECURE" class="tab-content clearfix" href="#SIMPLISECURE">
              <div id="tabs-24" class="tab-content clearfix">
                <p>
                  ClamberPrufe SimpliSecure Clear View Fence Series is a high security solution for properties requiring a budget security solution. The fence has a smaller wire arrangement than the EconoSecure fence type also offering high protection at an affordable price.
                  This fence type is ideal for internal fences, residential estates and agricultural holdings
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/SIMPLISECURE 800_500.jpg"
                        alt="SimpliSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE SIMPLISECURE
                        <span class="subtitle">Budget Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 3mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 76.2mm (Vert) x 50mm (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px;border-radius: 5px;"
                        src="/images/services/simplisecureblue.png"
                        alt="Budget Security Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE SIMPLISECURE
                        <span class="subtitle">Budget Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab id="POSTS" title="POSTS" class="tab-content clearfix" href="#POSTS">
              <div id="tabs-25" class="tab-content clearfix">
                <div class="col">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:310px;height:529px; border-radius: 5px;"
                        src="/images/services/postsblue.png"
                        alt="ClamberPrufe Posts"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE POSTS
                        <span class="subtitle">Posts</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> POSTS : Square Tube Posts 76mm x 76mm
                        </li>
                        <li>
                          <i class="icon-wrench"></i> POSTS : IPE Pre Drilled 100m x 55mm
                        </li>
                        <li>
                          <i class="icon-wrench"></i> POSTS : IPE Pre Drilled 76m x 44mm
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
          </b-tabs>

          <!-- <div id="tab-6" class="tabs side-tabs nobottommargin clearfix">
            <ul class="tab-nav tab-nav2 clearfix">
              <li>
                <a href="#tabs-20">ANTI-TERROR</a>
              </li>
              <li>
                <a href="#tabs-21">HISECURE</a>
              </li>
              <li>
                <a href="#tabs-22">ECONOSECURE</a>
              </li>
              <li>
                <a href="#tabs-23">MAXISECURE</a>
              </li>
              <li>
                <a href="#tabs-24">SIMPLISECURE</a>
              </li>
              <li>
                <a href="#tabs-25">POSTS</a>
              </li>
            </ul>
            <div class="tab-container">
              <div id="tabs-20" class="tab-content clearfix">
                <p>
                  ClamberPrufe Anti-Terror Clear View Fence Series is a high security solution for properties situated in high risk areas.
                  The fence has a compact wire arrangement offering maximum protection with the clear view aesthetic.
                  This fence type is ideal for industrial properties, security estates, shopping malls , office parks and residential properties.
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/HISECURE 12X76 800_500.jpg"
                        alt="Anti-Terror Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ANTI-TERROR
                        <span class="subtitle">Maximum Security Fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 5.6mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 76.2 (Vert) x 12.7 (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4(H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px;border-radius: 5px;"
                        src="/images/services/antiterror.png"
                        alt="Anti-terror Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ANTI-TERROR
                        <span class="subtitle">Maximum security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabs-21" class="tab-content clearfix">
                <p>
                  ClamberPrufe HiSecure Clear View Fence Series is a high security solution for properties situated in high risk areas.
                  The fence has a compact wire arrangement offering maximum protection with the clear view aesthetic.
                  This fence type is ideal for industrial properties, security estates, shopping malls , office parks and residential properties.
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/HISECURE 12X76 800_500.jpg"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE HISECURE (VERTICAL)
                        <span class="subtitle">High Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 4mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 76.2 (Vert) x 12.7 (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.2/1.8/2/2.4/3 (H) x 2.5/3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px;border-radius: 5px;"
                        src="/images/services/hisecureblue.png"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE HISECURE (VERTICAL)
                        <span class="subtitle">High Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/hisecurehorizontal.jpg"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE HISECURE (HORIZONTAL)
                        <span class="subtitle">High Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 3mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 12.7mm (Vert) x 76.2mm (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px; border-radius: 5px;"
                        src="/images/services/hisecurehorizontalblue.png"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE HISECURE (HORIZONTAL)
                        <span class="subtitle">High Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabs-22" class="tab-content clearfix">
                <p>
                  ClamberPrufe EconoSecure Clear View Fence Series is a medium security solution for properties requiring a perimeter fence solution.
                  The fence has a larger wire arrangement offering medium protection with the clear view aesthetic.
                  This fence type is ideal for schools, sports fields and recreational facilities
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/EconoSecure50x100.jpg"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ECONOSECURE (4x4/50x100)
                        <span class="subtitle">Medium Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 4mm (main) x 4mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 100 (Vert) x 50 (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px;border-radius: 5px;"
                        src="/images/services/Econosecure50x100blue.png"
                        alt="EconoSecure 50x100 Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ECONOSECURE (50 x 100)
                        <span class="subtitle">Medium Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/ECONOSECURE 50X200 800_500.jpg"
                        alt="HiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ECONOSECURE (4x4/50x200)
                        <span class="subtitle">Medium Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 4mm (main) x 4mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 200 (Vert) x 50 (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px; border-radius: 5px;"
                        src="/images/services/econosecure50x200blue.png"
                        alt="EconoSecure 50x200 Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE ECONOSECURE (50 x 200)
                        <span class="subtitle">Medium Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabs-23" class="tab-content clearfix">
                <p>
                  ClamberPrufe MaxiSecure Clear View Fence Series is a high security solution for properties situated in high risk areas.
                  The fence has a compact wire arrangement offering maximum protection with the clear view aesthetic.
                  This fence type is ideal for industrial properties, security estates, shopping malls , office parks and residential properties.
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/MAXISECURE 800_500.jpg"
                        alt="MaxiSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE MAXISECURE
                        <span class="subtitle">Budget Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 4mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 76.2MM (Vert) x 25MM (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabs-24" class="tab-content clearfix">
                <p>
                  ClamberPrufe SimpliSecure Clear View Fence Series is a high security solution for properties requiring a budget security solution. The fence has a smaller wire arrangement than the EconoSecure fence type also offering high protection at an affordable price.
                  This fence type is ideal for internal fences, residential estates and agricultural holdings
                </p>
                <div class="col_half">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:400px;height:300px; border-radius: 5px;"
                        src="/images/services/SIMPLISECURE 800_500.jpg"
                        alt="SimpliSecure Clear View Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE SIMPLISECURE
                        <span class="subtitle">Budget Security fence</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> WIRE ARRANGEMENT : 3mm (main) x 3mm (cross)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> APERTURE : 76.2mm (Vert) x 50mm (Horiz)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> SHEET SIZE (m) : 1.8/2/2.4 (H) x 3 (W)
                        </li>
                        <li>
                          <i class="icon-wrench"></i> RIGIDITY : 4 V-Bends
                        </li>
                        <li>
                          <i class="icon-wrench"></i> CLASS A : Full pre-galvanized wire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col_half col_last">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:323px;height:422px;border-radius: 5px;"
                        src="/images/services/simplisecureblue.png"
                        alt="Budget Security Fence"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE SIMPLISECURE
                        <span class="subtitle">Budget Security fence detail</span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabs-25" class="tab-content clearfix">
                <div class="col">
                  <div class="feature-box media-box">
                    <div class="fbox-media">
                      <img
                        style="width:310px;height:529px; border-radius: 5px;"
                        src="/images/services/postsblue.png"
                        alt="ClamberPrufe Posts"
                      >
                    </div>
                    <div class="fbox-desc">
                      <h3>
                        CLAMBERPRUFE POSTS
                        <span class="subtitle">Posts</span>
                      </h3>
                      <ul class="iconlist nobottommargin">
                        <li>
                          <i class="icon-wrench"></i> POSTS : Square Tube Posts 76mm x 76mm
                        </li>
                        <li>
                          <i class="icon-wrench"></i> POSTS : IPE Pre Drilled 100m x 55mm
                        </li>
                        <li>
                          <i class="icon-wrench"></i> POSTS : IPE Pre Drilled 76m x 44mm
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tabs-25" class="tab-content clearfix"></div>
            </div>
          </div>-->
        </div>
      </div>
    </section>
    <!-- #content end -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SliderComponent from '@/components/SliderComponent'
export default {
  components: {
    SliderComponent
  },
  data () {
    return {
      tabIndex: 0,
      tabs: ['#ANTITERROR', '#HISECURE', '#ECONOSECURE', '#MAXISECURE', '#SIMPLISECURE', '#POSTS']
    }
  },
  computed: {
    ...mapGetters('client', ['getClient']),
    client () {
      return this.getClient
    },
    jsonld () {
      if (!this.client) {
        return null
      }
      return {
        '@context': 'http://schema.org',
        '@type': 'Organization',
        name: this.client.name,
        legalName: this.client.legalName,
        '@id': this.client['@id'],
        logo: this.client.logo,
        image: this.client.image,
        foundingDate: this.client.foundingDate,
        founders: this.client.founders,
        address: this.client.address,
        geo: this.client.geo,
        contactPoint: this.client.contactPoint,
        sameAs: this.client.sameAs,
        url: this.client.url,
        description: this.client.description,
        telephone: this.client.telephone,
        openingHoursSpecification: this.client.openingHoursSpecification,
        priceRange: this.client.priceRange
      }
    },
    team () {
      if (!this.client.founders) {
        return null
      }
      return this.client.founders
    }
  },
  mounted () {
    this.$ga.page(this.$route.path)
    this.$ga.event({
      eventCategory: 'services',
      eventAction: 'browse',
      eventLabel: 'services',
      eventValue: 3
    })
    this.tabIndex = this.tabs.findIndex(tab => tab === this.$route.hash)
  },
  head () {
    let content = `${process.env.baseUrl}${this.$route.path}`
    content = content.slice(-1) !== '/' ? content + '/' : content
    return {
      title: this.client.title,
      meta: [
        {
          hid: 'og:url',
          property: 'og:url',
          content
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.client.title
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.client.description
        },
        {
          hid: 'description',
          name: 'description',
          content: this.client.description
        }
      ],

      script: [
        { innerHTML: JSON.stringify(this.jsonld), type: 'application/ld+json' }
      ],
      __dangerouslyDisableSanitizers: ['script']
    }
  }
}
</script>

<style>
</style>
