<!-- eslint-disable vue/no-v-html -->
<template>
  <b-container data-aos="slide-up" fluid class="m-0 p-0 center nobottommargin">
    <div class="section nobottommargin center" data-aos="slide-up">
      <h2 class="nobottommargin center">
        {{ headerText }}
      </h2>
      <p>
        We prize our Clients more than everything else. We strive to provide Quality Services to all our Clients on a Priority
        Basis. You are invited to join our Clients List and enjoy our Services.
        <nuxt-link to="/services/">
          See more...
        </nuxt-link>
      </p>
    </div>
    <div class="line notopmargin" data-aos="flip-left">
      <ul class="clients-grid grid-6 nobottommargin clearfix" data-aos="slide-up">
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/1.png" alt="Clear View Fencing">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/2.png" alt="Clearview Fence">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/3.png" alt="clearvu fence">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/4.png" alt="clearvu">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/5.png" alt="clear vu">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/6.png" alt="see through">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/7.png" alt="clamberprufe">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/8.png" alt="Jumalu">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/9.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/10.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/11.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/12.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/13.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/14.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/15.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/16.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/17.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/18.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/19.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/20.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/21.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/22.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/23.png" alt="Clients">
          </a>
        </li>
        <li style="padding: 20px;" data-aos="flip-left">
          <a href="javascript:void(0)">
            <img src="/images/clients/24.png" alt="Clients">
          </a>
        </li>
      </ul>
    </div>
  </b-container>
</template>
<script>
/* eslint-disable */
export default {
  props: {
    ptext: {
      type: String,
      default: "Clients overview"
    }
  },
  data() {
    return {};
  },
  computed: {
    headerText: function() {
      return this.ptext || "Our Clients";
    }
  }
};
</script>
