<!-- eslint-disable vue/no-v-html -->
<template>
  <b-container fluid class="m-0 p-0">
    <nuxt-link
      to="/contact/"
      class="button button-3d nobottomborder button-full center tright t300 font-primary topmargin footer-stick"
      style="font-size: 26px;"
    >
      <div class="container clearfix">
        {{ enquireText }}
        <strong>Enquire Here</strong>
        <i class="icon-angle-right" style="top:3px;"></i>
      </div>
    </nuxt-link>
  </b-container>
</template>
<script>
/* eslint-disable */
export default {
  props: {
    ptext: {
      type: String,
      default: "Would you like to secure your property with us?"
    }
  },
  data() {
    return {};
  },
  computed: {
    enquireText: function() {
      return this.ptext || "Why Us?";
    }
  }
};
</script>
