<!-- eslint-disable vue/no-v-html -->
<template>
  <footer id="footer" class="dark">
    <div class="container">
      <!-- Footer Widgets
      =============================================-->
      <div class="footer-widgets-wrap clearfix">
        <div class="col_two_third">
          <div class="widget clearfix">
            <img
              src="/images/footer-widget-logo.png"
              alt="Clearview fencing"
              class="alignleft"
              style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;"
            >
            <p>
              Jumalu offers an extensive range of
              <strong>innovative</strong>,
              <strong>aesthetically pleasing</strong>, high quality
              <strong>ClamberPrufe</strong> clear view fencing products. Browse the amazing Features ClamberPrufe offers.
            </p>
            <div class="line" style="margin: 30px 0;"></div>
            <div class="row">
              <div class="col-lg-3 col-6 bottommargin-sm widget_links">
                <ul>
                  <li>
                    <nuxt-link to="/" exact exact-active-class="current">
                      Home
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/about-us/" exact exact-active-class="current">
                      What We Do
                    </nuxt-link>
                    <!-- <a href="about-us.html">What We Do</a> -->
                  </li>
                  <li>
                    <nuxt-link to="/services/" exact exact-active-class="current">
                      Services
                    </nuxt-link>
                    <!-- <a href="services.html">Services</a> -->
                  </li>
                  <li>
                    <nuxt-link to="/portfolio/" exact exact-active-class="current">
                      Projects
                    </nuxt-link>
                    <!-- <a href="portfolio.html">Portfolio</a> -->
                  </li>
                  <li>
                    <nuxt-link to="/contact/" exact exact-active-class="current">
                      Contact
                    </nuxt-link>
                    <!-- <a href="contact.html">Contact</a> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col_one_third col_last">
          <div class="widget clear-bottommargin-sm clearfix">
            <div class="row">
              <div class="col-lg-12 bottommargin-sm">
                <div class="footer-big-contacts">
                  <span>Call Us:</span>
                  <a href="tel:0861100224">086 110 0224</a>
                </div>
              </div>
              <div class="col-lg-12 bottommargin-sm">
                <div class="footer-big-contacts">
                  <span>Send an Email:</span>

                  <h2 class="footer-big-contacts" v-html="companyemail"></h2>
                  <!-- <a
                    href="mailto:&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#106;&#117;&#109;&#97;&#108;&#117;&#116;&#101;&#99;&#104;&#46;&#99;&#111;&#46;&#122;&#97;"
                  >&#105;&#110;&#102;&#111;&#64;&#106;&#117;&#109;&#97;&#108;&#117;&#116;&#101;&#99;&#104;&#46;&#99;&#111;&#46;&#122;&#97;</a>-->
                </div>
              </div>
            </div>
          </div>
          <div class="widget subscribe-widget clearfix">
            <div class="row">
              <div class="col-lg-6 clearfix bottommargin-sm">
                <a
                  href="https://www.facebook.com/jumalufencing"
                  class="social-icon si-dark si-colored si-facebook nobottommargin"
                  style="margin-right: 10px;"
                >
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a href="https://www.facebook.com/jumalufencing">
                  <small style="display: block; margin-top: 3px;">
                    <strong>Like us</strong>
                    <br>on Facebook
                  </small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-widgets-wrap end -->
    </div>
    <!-- Copyrights
    =============================================-->
    <div id="copyrights">
      <div class="container clearfix">
        <div class="col_half">
          Copyrights &copy; 2020 All Rights Reserved by Jumalu Fencing (Pty) Ltd.
          <br>
          <div class="copyright-links">
            <nuxt-link to="/terms/" exact exact-active-class="current">
              Terms of Use
            </nuxt-link> /
            <nuxt-link to="/terms/" exact exact-active-class="current">
              Privacy Policy
            </nuxt-link>
          </div>
        </div>
        <div class="col_half col_last tright">
          <div class="copyrights-menu copyright-links clearfix">
            <nuxt-link to="/" exact exact-active-class="current">
              Home
            </nuxt-link>/
            <nuxt-link to="/about-us/" exact exact-active-class="current">
              What We Do
            </nuxt-link>/
            <nuxt-link to="/services/" exact exact-active-class="current">
              Services
            </nuxt-link>/
            <nuxt-link to="/portfolio/" exact exact-active-class="current">
              Projects
            </nuxt-link>/
            <nuxt-link to="/contact/" exact exact-active-class="current">
              Contact
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
    <!-- #copyrights end -->
  </footer>
</template>
<script>
// import { mapState } from 'vuex'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      companyemail:
        '<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#106;&#117;&#109;&#097;&#108;&#117;&#116;&#101;&#099;&#104;&#046;&#099;&#111;&#046;&#122;&#097;">&#105;&#110;&#102;&#111;&#064;&#106;&#117;&#109;&#097;&#108;&#117;&#116;&#101;&#099;&#104;&#046;&#099;&#111;&#046;&#122;&#097;</a>',

      standardNav: [
        { value: '/', text: 'Home' },
        { value: '/contact-theoddwave-nz/', text: 'Contact us' }
      ]
    }
  },
  computed: {
    // ...mapGetters('products', ['productLinks']),
    ...mapGetters('client', ['getClient']),
    // products () {
    //   const products = this.productLinks
    //   return products
    // },
    contactInfo () {
      const client = this.getClient
      return client
    }
  }
}
</script>
<style scoped>
</style>
