<!-- eslint-disable vue/no-v-html -->
<template>
  <b-container class="pb-5 clearfix">
    <ul class="header-extras">
      <li>
        <i class="i-plain icon-call nomargin"></i>
        <div class="he-text">
          Call Us
          <span>
            <a href="tel:086 110 0224">086 110 0224</a>
          </span>
        </div>
      </li>
      <li>
        <i class="i-plain icon-line2-envelope nomargin"></i>
        <div class="he-text">
          Email Us
          <span v-html="companyemail">
          </span>
        </div>
      </li>
      <li>
        <i class="i-plain icon-line-clock nomargin"></i>
        <div class="he-text">
          We'are Open
          <span>Mon - Friday, 8AM to 4:30PM</span>
        </div>
      </li>
    </ul>
  </b-container>
</template>
<script>
/* eslint-disable */
export default {
  data () {
     return {
      companyemail:
        '<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#106;&#117;&#109;&#097;&#108;&#117;&#116;&#101;&#099;&#104;&#046;&#099;&#111;&#046;&#122;&#097;">&#105;&#110;&#102;&#111;&#064;&#106;&#117;&#109;&#097;&#108;&#117;&#116;&#101;&#099;&#104;&#046;&#099;&#111;&#046;&#122;&#097;</a>',
  }
}
}
</script>
<style scoped>
.header-extras2 {
  display: block;
    float: left;
}
.header-extras2 li {
  list-style: none;
  margin-left: 30px;
  /* margin-top: 30px;
	padding-left: 30px; */
	border-left: 1px solid #EEE;
}

/* .header-extras2 li:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: 1px solid #EEE;
} */

.header-extras2 li i {
	margin-top: 0 !important;
	font-size: 36px !important;
}

.header-extras2 li .he-text {
	padding-left: 15px;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	color: #888;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.header-extras2 li .he-text span {
	font-weight: 600;
	text-transform: none;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
}
</style>
