<template>
  <b-container fluid class="m-0 p-0">
    <b-navbar toggleable="lg" class="m-2 center">
      <b-navbar-toggle target="nav-collapse" class="navbar-toggler collapsed">
        <span></span>
        <span></span>
        <span></span>
      </b-navbar-toggle>
      <b-navbar-brand
        to="/"
        title="Jumalutech Clamberprufe Clearview Fencing "
        exact
        exact-active-class
        class="px-4 mx-0"
      >
        <img src="/images/jumalu-logo.png" alt="clearview fencing" style="height:50px"></img>
      </b-navbar-brand>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav role="navigation">
          <b-nav-item to="/" exact exact-active-class="underline">
            Home
          </b-nav-item>
          <b-nav-item to="/services/" exact exact-active-class="underline">
            What we do
          </b-nav-item>
          <b-nav-item to="/about-us/" exact exact-active-class="underline">
            About Us
          </b-nav-item>
          <b-nav-item to="/portfolio/" exact exact-active-class="underline">
            Projects
          <!-- <b-badge variant="primary" pill flush>
            103
          </b-badge> -->
          </b-nav-item>
          <b-nav-item to="/faqs/" exact exact-active-class="underline">
            Frequently Asked Questions
          </b-nav-item>
          <b-nav-item to="/contact/" exact exact-active-class="underline">
            Contact Details
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </b-container>
</template>

<script>
// import { mapGetters } from 'vuex'
export default {
  components: {},
  props: {
    pbgimage: {
      type: Object,
      default () {
        return {
          color1: 'rgba(0, 0, 0, 0.2)',
          color2: 'rgba(0, 0, 0, 0.5)',
          url: 'laptop.jpg',
          height: 100
        }
      }
    },
    ptheme: {
      type: String,
      default: 'dark'
    }
  },
  data () {
    return {
      title: 'THE ODD WAVE',
      standardNav: [
        { value: '/', text: 'Home' },
        { value: '/contact', text: 'Contact us' }
      ]
    }
  }
}
</script>
<style scoped  lang="scss">
.underline {
  position: relative;
  margin: 0;
  &:hover,
  &:focus,
  &:active {
    &:before {
      width: 0%;
      left: 0%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid #00c3ff;
  }
}

.navbar {
  line-height: 1.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background:white;
  color: black;
}
.nav-link {
       color: black;
}
.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #112793
}

.navbar-toggler {
  margin: 5px;
  padding: 0.5rem !important;
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none;
  box-shadow: none;
  border: 1px solid #00c3ff;
  border-radius: 25%;
}
.navbar-toggler {
  border: 1px solid #00c3ff;
  border-radius: 25%;
  color: #00c3ff;
  background-image: none;
  align-content: center;
}

.navbar-dark .navbar-collapse.collapse.show .navbar-nav {
  background: rgba(0, 0, 0, 1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  left: -50 !important;
  margin: 0 !important;
  padding: 0 !important;

  width: 100%;
}

.navbar-toggler[aria-expanded='false'] span {
  display: block;
  background-color: #00c3ff;
  height: 4px;
  width: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform 0.35s ease-in-out;
  -moz-transition: transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler[aria-expanded='false'] span:nth-child(1),
.navbar-toggler[aria-expanded='false'] span:nth-child(3) {
  width: 30px;
  margin-left: 5px;
}

.navbar-toggler[aria-expanded='true'] span:nth-child(1) {
  display: block;
  background-color: #00c3ff;
  height: 4px;
  width: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler[aria-expanded='true'] span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler[aria-expanded='true'] span:nth-child(3) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-brand {
  font-size: 0.8rem;
  letter-spacing: 0em;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.nav-item {
  margin-left: 2vw;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
}
</style>
