<!-- eslint-disable vue/no-v-html -->
<template>
  <client-only>
    <div>
      <swiper ref="swiperTop" class="swiper gallery-top" :options="swiperTopOptions">
        <div class="swiper-wrapper">
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img src="/images/gallery/1.jpg" alt="Fencing Supply" class="background-img">
              <!-- <img class="background-img" src="/images/slider/clearview-fencing-south-africa.png" srcset="/images/slider/clearview-fencing-south-africa.png 640w, /images/slider/clearview-fencing-south-africa.png 280w, /images/slider/clearview-fencing-south-africa.png 432w, /images/slider/clearview-fencing-south-africa.png 216w" sizes="(max-width: 640px) 100vw, 640px"> -->
              <div class="slider-caption">
                <h2>Fencing Supply</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/2.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>ClamberPrufe Clear View Fence Installations</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/3.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>ClamberPrufe Clear View Fencing Exports</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/4.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>Maximum Security Fencing Solutions</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/5.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>ClamberPrufe Residential Clear View Fencing</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/6.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>Housing Estates</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/7.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>Perimeter Fencing Solutions</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/8.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>Industrial Fencing Solutions</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/9.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>Internal Stores Fencing</h2>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <div class="background-img-container">
              <img
                src="/images/gallery/10.jpg"
                alt="ClamberPrufe Clear View Fence Installations"
                class="background-img"
              >
              <div class="slider-caption">
                <h2>Gate Manufacture</h2>
              </div>
            </div>
          </swiper-slide>
        </div>
        <div slot="pagination" class="swiper-pagination"></div>
        <div slot="button-prev" class="swiper-button-prev"></div>
        <div slot="button-next" class="swiper-button-next"></div>
      </swiper>
      <swiper
        ref="swiperThumbs"
        :options="swiperThumbsOptions"
        class="swiper-container gallery-thumbs"
      >
        <div class="swiper-wrapper">
          <swiper-slide class="swiper-slide">
            <img src="/images/gallery/thumbs/1.jpg" alt="Fencing Supply">
          <!-- <img class="background-img" src="/images/slider/clearview-fencing-south-africa.png" srcset="/images/slider/clearview-fencing-south-africa.png 640w, /images/slider/clearview-fencing-south-africa.png 280w, /images/slider/clearview-fencing-south-africa.png 432w, /images/slider/clearview-fencing-south-africa.png 216w" sizes="(max-width: 640px) 100vw, 640px"> -->
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/2.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
            >
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/3.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
              class="background-img"
            >
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/4.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
              class="background-img"
            >
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/5.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
              class="background-img"
            >
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/6.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
              class="background-img"
            >
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/7.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
              class="background-img"
            >
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/8.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
              class="background-img"
            >
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/9.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
              class="background-img"
            >
          </swiper-slide>
          <swiper-slide class="swiper-slide">
            <img
              src="/images/gallery/thumbs/10.jpg"
              alt="ClamberPrufe Clear View Fence Installations"
              class="background-img"
            >
          </swiper-slide>
        </div>
      </swiper>
    </div>
  </client-only>
</template>
<script>
export default {
  data () {
    const swiperThumbsOptions = {
      spaceBetween: 10,
      slidesPerView: 10,
      loop: true,
      freeMode: true,
      loopedSlides: 10, // looped slides should be the same
      watchSlidesVisibility: true,
      watchSlidesProgress: true
    }
    const swiperTopOptions = {
      loop: true,
      loopedSlides: 10, // looped slides should be the same
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    }
    return {
      swiperTopOptions,
      swiperThumbsOptions
    }
  },
  mounted () {
    this.$nextTick(() => {
      console.log('MOUNTED', this.$refs)
      const swiperTop = this.$refs.swiperTop.$swiper
      const swiperThumbs = this.$refs.swiperThumbs.$swiper
      swiperTop.controller.control = swiperThumbs
      swiperThumbs.controller.control = swiperTop
    })
  }
}
</script>
<style lang="scss" scoped>
.background-img-container {
  position: relative;
  width: 100%;
  height: 400px;
}
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-caption {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  top: 0;
  left: 0;
  max-width: 450px;
  padding: 20px;
  margin: 20px;
}

.swiper-pagination span {
  width: 20px;
  height: 20px;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
</style>
