<!-- eslint-disable vue/no-v-html -->
<template>
  <client-only>
    <swiper :options="swiperOptions" class="swiper-container m-0 p-0">
      <swiper-slide class="swiper-slide" style="width:100%; height: 400px;">
        <div class="background-img-container">
          <img
            :src="require('~/assets/img/slider/clearview-fencing-south-africa.png').src"
            :srcset="require('~/assets/img/slider/clearview-fencing-south-africa.png').srcSet"
            alt="Clearview fencing South Africa"
            class="background-img"
          >
          <!-- <img class="background-img" src="/images/slider/clearview-fencing-south-africa.png" srcset="/images/slider/clearview-fencing-south-africa.png 640w, /images/slider/clearview-fencing-south-africa.png 280w, /images/slider/clearview-fencing-south-africa.png 432w, /images/slider/clearview-fencing-south-africa.png 216w" sizes="(max-width: 640px) 100vw, 640px"> -->
          <div class="slider-caption">
            <h2>ClamberPrufe Clear View Fence Specialists</h2>
            <p
              class="d-none d-sm-block"
            >
              Choose from a wide range of ClamberPrufe clear view products; let us put the clearview fencing solution together for you.
            </p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide" style="width:100%; height: 400px;">
        <div class="background-img-container">
          <img
            :src="require('~/assets/img/slider/clearvu-fence.png').src"
            :srcset="require('~/assets/img/slider/clearvu-fence.png').srcSet"
            alt="ClamberPrufe Clear View Fencing Gauteng"
            class="background-img"
          >
          <div class="slider-caption">
            <h2>ClamberPrufe Clear View Fencing Gauteng</h2>
            <p
              class="d-none d-sm-block"
            >
              Aesthetically pleasing,high security clear view fencing adapted to suit your security fencing needs
            </p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide" style="width:100%; height: 400px;">
        <div class="background-img-container">
          <img
            :src="require('~/assets/img/slider/high-security-fencing.png').src"
            :srcset="require('~/assets/img/slider/high-security-fencing.png').srcSet"
            alt="High Security Fencing"
            class="background-img"
          >
          <div class="slider-caption">
            <h2>High Security Fencing</h2>
            <p
              class="d-none d-sm-block"
            >
              You'll be surprised to see the final results of your ClamberPrufe clear view fence project &amp; and would crave for more.
            </p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide" style="width:100%; height: 400px;">
        <div class="background-img-container">
          <img
            :src="require('~/assets/img/slider/mesh-panel-fencing.png').src"
            :srcset="require('~/assets/img/slider/mesh-panel-fencing.png').srcSet"
            alt="High Security Fencing"
            class="background-img"
          >
          <div class="slider-caption">
            <h2>ClamberPrufe ClearView Fencing</h2>
            <p class="d-none d-sm-block">
              Secure It. ClamberPrufe It.
            </p>
          </div>
        </div>
      </swiper-slide>

      <!--
      <swiper-slide
        class="swiper-slide"
        style="width:100%; height: 400px; background-image: url('/images/slider/clearview-fencing-south-africa.png'); background-position: center top;"
      >
        <div class="slider-caption">
          <h2>ClamberPrufe Clear View Fence Specialists</h2>
          <p
            class="d-none d-sm-block"
          >
            Choose from a wide range of ClamberPrufe clear view products; let us put the clearview fencing solution together for you.
          </p>
        </div>
      </swiper-slide>

        <swiper-slide
        class="swiper-slide"
        style="width:100%; height: 400px; background-image: url('/images/slider/clearvu-fence.png'); background-position: center top;"
      >
        <div class="slider-caption slider-caption-right">
          <h2>ClamberPrufe Clear View Fencing Gauteng</h2>
          <p
            class="d-none d-sm-block"
          >
            Aesthetically pleasing,high security clear view fencing adapted to suit your security fencing needs
          </p>
        </div>
      </swiper-slide>
      <swiper-slide
        class="swiper-slide"
        style="width:100%; height: 400px; background-image: url('/images/slider/high-security-fencing.png'); background-position: center top;"
      >
        <div class="slider-caption">
          <h2>High Security Fencing</h2>
          <p
            class="d-none d-sm-block"
          >
            You'll be surprised to see the final results of your ClamberPrufe clear view fence project &amp; and would crave for more.
          </p>
        </div>
      </swiper-slide>
      <swiper-slide
        class="swiper-slide"
        style="width:100%; height: 400px; background-image: url('/images/slider/mesh-panel-fencing.png'); background-position: center top;"
      >
        <div class="slider-caption">
          <h2>ClamberPrufe ClearView Fencing</h2>
          <p class="d-none d-sm-block">
            Secure It. ClamberPrufe It.
          </p>
        </div>
      </swiper-slide>-->
      <div slot="pagination" class="swiper-pagination"></div>
      <div slot="button-prev" class="swiper-button-prev"></div>
      <div slot="button-next" class="swiper-button-next"></div>
    </swiper>
  </client-only>
</template>
<script>
export default {
  data () {
    return {
      swiperOptions: {
        centeredSlides: true,
        direction: 'horizontal',
        loop: false,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        slidesPerView: '1',
        slidesPerGroup: 1,
        loopadditionalslides: 0,
        spaceBetween: 5,
        mousewheel: true,
        loopFillGroupWithBlank: true,
        // effect: 'coverflow',
        // coverflowEffect: {
        //   rotate: 50,
        //   stretch: 0,
        //   depth: 100,
        //   modifier: 1,
        //   slideShadows: false
        // },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
          // renderBullet (index, className) {
          //   return '<span class="' + className + '">' + (index + 1) + '</span>'
          // }
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
        // breakpoints: {
        //   768: {
        //     slidesPerView: 1,
        //     slidesOffsetBefore: 0,
        //     spaceBetween: 5
        //   },
        //   1199: {
        //     slidesPerView: 1,
        //     slidesOffsetBefore: 0,
        //     spaceBetween: 5
        //   }
        // }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.background-img-container {
  position: relative;
  width: 100%;
  height: 400px;
}
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-caption {
    background-color: rgba(255,255,255,0.9);
    border-radius: 2px;
    top: 0;
    left: 0;
    max-width: 450px;
    padding: 20px;
    margin: 20px;
}
// .swiper-container {
//   width: 100%;
//   max-height: 100%;
//   max-width: 100%;
// }
// .swiper-slide {
//   display: inline-block;
//   align-self: center;
//   width: auto;
//   padding-bottom: 50px;
//   height: 100% !important;
//   max-height: 100% !important;
//   max-width: 100% !important;
//   background: #fff;
//   // border: #000;
//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }
.swiper-pagination span {
  width: 20px;
  height: 20px;
}
// .swiper-button-prev,
// .swiper-button-next {
//   width: 55px;
//   height: 55px;
//   background: white;
//   border: 5px solid #00c3ff;
//   color: #00c3ff;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-100%);
//   border-radius: 50px;
//   z-index: 100;
//   margin: 1em;
//   opacity: 0.3;
// }

// .swiper-button-prev {
//   left: 0;
// }

// .swiper-button-next {
//   right: 0;
// }

// .swiper-button-prev:hover,
// .swiper-button-next:hover {
//   opacity: 1;
// }
</style>
