<!-- eslint-disable vue/no-v-html -->
<template>
  <client-only>
    <div class="thumb-example">
      <!-- swiper1 -->
      <swiper ref="swiperTop" class="swiper gallery-top" :options="swiperOptionTop">
        <swiper-slide class="slide-1" />
        <swiper-slide class="slide-2" />
        <swiper-slide class="slide-3" />
        <swiper-slide class="slide-4" />
        <swiper-slide class="slide-5" />
        <div slot="button-next" class="swiper-button-next swiper-button-white"></div>
        <div slot="button-prev" class="swiper-button-prev swiper-button-white"></div>
      </swiper>
      <swiper ref="swiperThumbs" class="swiper gallery-thumbs" :options="swiperOptionThumbs">
        <swiper-slide class="slide-1" />
        <swiper-slide class="slide-2" />
        <swiper-slide class="slide-3" />
        <swiper-slide class="slide-4" />
        <swiper-slide class="slide-5" />
      </swiper>
    </div>
  </client-only>
</template>
<script>

export default {
  data () {
    const swiperOptionTop = {
      loop: true,
      loopedSlides: 5, // looped slides should be the same
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    }
    const swiperOptionThumbs = {
      loop: true,
      loopedSlides: 5, // looped slides should be the same
      spaceBetween: 10,
      centeredSlides: true,
      slidesPerView: 'auto',
      touchRatio: 0.2,
      slideToClickedSlide: true
    }
    return {
      swiperOptionTop, swiperOptionThumbs

    }
  },
  mounted () {
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.$swiper
      const swiperThumbs = this.$refs.swiperThumbs.$swiper
      swiperTop.controller.control = swiperThumbs
      swiperThumbs.controller.control = swiperTop
    })
  }
}
</script>
<style lang="scss" scoped>
  .thumb-example {
    height: 480px;
    background-color: #000;
  }

  .swiper {
    .swiper-slide {
      background-size: cover;
      background-position: center;

      &.slide-1 {
        background-image:url('/images/gallery/1.jpg');
      }
      &.slide-2 {
        background-image:url('/images/gallery/2.jpg');
      }
      &.slide-3 {
        background-image:url('/images/gallery/3.jpg');
      }
      &.slide-4 {
        background-image:url('/images/gallery/4.jpg');
      }
      &.slide-5 {
        background-image:url('/images/gallery/5.jpg');
      }
    }

    &.gallery-top {
      height: 80%;
      width: 100%;
    }
    &.gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 0;
    }
    &.gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    &.gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
  }
</style>
