<!-- eslint-disable vue/no-v-html -->
<template>
  <b-container fluid class="m-0 p-0">
    <div class="container topmargin-lg">
      <b-tabs id="construction-tabs" content-class="mt-3" fill class="tab-container">
        <b-tab title="Why Us?" active class="tab-content clearfix">
          <div id="construction-tab-1" class="tab-content clearfix">
            <p>
              Jumalu Fencing is a South African private company supplying specialist ClamberPrufe Clear View Fencing security
              fencing solutions known for its clear view aesthetic Jumalu offers an extensive range of innovative, aesthetically
              pleasing, high quality clear view fencing products to secure people, property, premises and assets. Jumalu’ differentiating
              factor is based on service excellence, appropriate solution provision, unrivalled quality in product and workmanship,
              always at the right price. Our vigorous attention to detail at every stage of the project is the primary reason
              that Jumalu is a preferred supplier for many of South Africa’s leading architects, property managers, specifiers
              and their discerning clients…
            </p>
            <client-only>
              <div class="col_one_fourth nobottommargin center">
                <h4><ICountUp :delay="delay1" :end-val="endVal1" :options="options" @ready="onReady1" /></h4>
                <h5>
                  Kilometers of fencing installed
                </h5>
              </div>
              <div class="col_one_fourth nobottommargin center">
                <h4><ICountUp :delay="delay2" :end-val="endVal2" :options="options" @ready="onReady2" /></h4>
                <h5>
                  Kits Sold
                </h5>
              </div>

              <div class="col_one_fourth nobottommargin center">
                <h4><ICountUp :delay="delay3" :end-val="endVal3" :options="options" @ready="onReady3" /> </h4>
                <h5>Cities Served</h5>
              </div>
              <div class="col_one_fourth nobottommargin center col_last">
                <h4><ICountUp :delay="delay4" :end-val="endVal4" :options="options" @ready="onReady4" /> </h4>
                <h5>Panels Coated</h5>
              </div>
            </client-only>
          </div>
        </b-tab>
        <b-tab title="Work Ethic" class="tab-content clearfix">
          <div id="construction-tab-2" class="tab-content clearfix">
            <img
              src="/images/services/office.png"
              width="260"
              alt="Image"
              class="img-thumbnail alignleft"
            >
            <p>
              We are a small team ,bright and dynamic steeped in years of hands-on experience in the fencing industry. Our team
              ethic is strong, both between ourselves and working closely with you, quickly getting to grips with the dynamics
              of your operation. We build trust across teams so that we can really examine the detail of the security challenges
              your business faces. We also know that the hard work often starts after decisions are made. Our clients come back
              to us time and again because we only ever promise what we know we can deliver. And we do deliver - on time, within
              budget. No surprises.
            </p>
          </div>
        </b-tab>
        <b-tab title="Team" class="tab-content clearfix">
          <div id="construction-tab-3" class="tab-content clearfix">
            <p>
              We have built a trusted reputation over the past 25 years for designing, constructing and installing superior quality
              mesh panel fencing and gate access systems. We are hard working South Africans striving to provide you with the
              best service.
            </p>
            <div class="row clearfix">
              <div class="col-md-4">
                <ul class="iconlist nobottommargin">
                  <li>
                    <i class="icon-ok"></i> 100% Assurance
                  </li>
                  <li>
                    <i class="icon-ok"></i> Hard Working
                  </li>
                  <li>
                    <i class="icon-ok"></i> Trustworthy
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="iconlist nobottommargin">
                  <li>
                    <i class="icon-ok"></i> Intelligent
                  </li>
                  <li>
                    <i class="icon-ok"></i> Always Curious
                  </li>
                  <li>
                    <i class="icon-ok"></i> Perfectionists
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="iconlist nobottommargin">
                  <li>
                    <i class="icon-ok"></i> Friendly &amp; Helpful
                  </li>
                  <li>
                    <i class="icon-ok"></i> Accomodating Nature
                  </li>
                  <li>
                    <i class="icon-ok"></i> Available 24x7
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </b-tab>
        <b-tab title="Locations" class="tab-content clearfix">
          <div class="clear-bottommargin-sm">
            <div class="row clearfix">
              <div class="col-md-7 bottommargin-sm">
                <p>
                  Jumalu Fencing is a homegrown South African private company supplying specialist ClamberPrufe clear view security
                  fencing solutions specializing in ClamberPrufe clear view fencing
                </p>
                <div class="clear-bottommargin-sm">
                  <div class="row clearfix">
                    <div class="col-md-6 bottommargin-sm">
                      <address>
                        <strong>Headquarters:</strong>
                        <br>23 Dakota Crescent
                        <br>Airport Park,Germiston
                        <br>South Africa
                      </address>
                    </div>
                    <div class="col-md-6 bottommargin-sm">
                      <abbr title="Phone Number">
                        <strong>Phone:</strong>
                      </abbr>
                      <a href="tel:+(27) 10 216 9205">+(27) 10 216 9205</a>
                      <br>
                      <abbr title="Email Address">
                        <strong>Email:</strong>
                      </abbr>
                      <a
                        href="mailto:&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#106;&#117;&#109;&#97;&#108;&#117;&#116;&#101;&#99;&#104;&#46;&#99;&#111;&#46;&#122;&#97;"
                      >&#105;&#110;&#102;&#111;&#64;&#106;&#117;&#109;&#97;&#108;&#117;&#116;&#101;&#99;&#104;&#46;&#99;&#111;&#46;&#122;&#97;</a>
                      <br>
                      <abbr title="Direct Sales">
                        <strong>Direct Sales:</strong>
                      </abbr>
                      <a href="tel:+(27) 79 582 8452">+(27) 79 582 8452</a>
                      <br>
                      <abbr title="Or">
                        <strong>Or:</strong>
                      </abbr>
                      <a href="tel:+(27) 82 215 2568">+(27) 82 215 2568</a>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 bottommargin-sm">
                <img
                  src="https://maps.googleapis.com/maps/api/staticmap?center=-26.2395374,28.1608658&zoom=12&markers=-26.23821891883818,28.160320370639056&size=300x180&key=AIzaSyC4RpPTQQqWPAkcVJSTuzG-RVEGkOFD2as"
                  alt="Google Map"
                  class="img-thumbnail"
                >
              </div>
            </div>
          </div>
        </b-tab>
      </b-tabs>
    </div>
  </b-container>
</template>
<script>
/* eslint-disable */
export default {
  props: {
    pheader: {
      type: String,
      default: "Would you like to secure your property with us?"
    }
  },
  data() {
    return {
      delay1: 1000,
      delay2: 2000,
      delay3: 3000,
      delay4: 4000,
      endVal1: 18859,
      endVal2: 2736,
      endVal3: 52,
      endVal4: 3056,
      options: {
        useEasing: true,
        useGrouping: true,
        separator: ",",
        decimal: ".",
        prefix: "",
        suffix: ""
      }
    };
  },
  computed: {
    header: function() {
      return this.pheader || "Why Us?";
    }
  },
  methods: {
    onReady1: function(instance, CountUp) {
      const that = this;
      instance.update(that.endVal1);
    },
      onReady2: function(instance, CountUp) {
      const that = this;
      instance.update(that.endVal2);
    },
      onReady3: function(instance, CountUp) {
      const that = this;
      instance.update(that.endVal3);
    },
      onReady4: function(instance, CountUp) {
      const that = this;
      instance.update(that.endVal4);
    }
  }
  // mount() {
  //   var options = {
  //     useEasing: true,
  //     useGrouping: true,
  //     separator: ",",
  //     decimal: "."
  //   };

  //   var counterParent = document.getElementById("unique-id");
  //   var children = counterParent.children;

  //   function countStart() {
  //     $("#unique-id").addClass("active");
  //     for (var i = 0; i < children.length; i++) {
  //       var item = document
  //         .getElementById(children[i].id)
  //         .querySelector(".counter");
  //       var countValue = item.getAttribute("data-value");

  //       var countUP = new CountUp(item, 0, countValue, 0, 2, options);
  //       if (!countUP.error) {
  //         countUP.start();
  //       }
  //     }
  //   }

  //   ScrollReveal().reveal(".counter-block", {
  //     beforeReveal: countStart
  //   });
  // }
};
</script>

<style scoped lang="scss"> 
// .demo {
//   text-align: center;
//   margin: 40px 0 500px; //Added for scrolling
// }

// .counter-block {
// 	padding: 75px 0;
// 	background-color: #f9f9f9;
// 	border: solid 1px #e6e6e6;
// 	@media screen and (max-width: 767px) {
// 		padding: 45px 0;
// 	}
// 	.counter-items {
// 		display: flex;
// 		justify-content: space-around;
// 		align-items: flex-start;
// 		@media screen and (max-width: 767px) {
// 			flex-direction: column;
// 			align-items: center;
// 		}
// 		.item {
// 			display: flex;
// 			flex-direction: column;
// 			align-items: center;
// 			padding: 0 2em;
// 			@media screen and (max-width: 767px) {
// 				padding: 2em;
// 				border-top: solid 1px #e6e6e6;
// 				&:first-child {
// 					border: none;
// 				}
// 			}
// 			h2 {
// 				font-family: 'Open-Sans', sans-serif;
// 				font-size: 52px;
// 				margin: 0 0 16px;
// 			}
// 			p {
// 				font-size: 20px;
// 				line-height: 24px;
// 				text-align: center;
// 			}
// 		}
// 	}
// }
</style>