<template>
  <div>
    <SliderComponent />

    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">
          <h1 class="center ls1 bottommargin">
            Some of Our Esteemed Clear View Projects:
          </h1>
          <div id="portfolio" class="portfolio portfolio-3 grid-container clearfix">
            <article class="portfolio-item pf-media pf-icons">
              <div class="portfolio-image">
                <img src="/images/projects/1.jpg" alt="ClamberPrufe HiSecure">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe HiSecure</h3>
                <span>Polyester Powder Coated Black (3x4/12x76)</span>
              </div>
            </article>
            <article class="portfolio-item pf-illustrations">
              <div class="portfolio-image">
                <img src="/images/projects/2.jpg" alt="ClamberPrufe EconoSecure">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe EconoSecure</h3>
                <span>Galvanised (4x4/50x100)</span>
              </div>
            </article>
            <article class="portfolio-item pf-graphics pf-uielements">
              <div class="portfolio-image">
                <img src="/images/projects/3.jpg" alt="ClamberPrufe Anti-terror">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe Anti-Terror</h3>
                <span>Galvanised (5.6x3/12x76) wall mount</span>
              </div>
            </article>
            <article class="portfolio-item pf-icons pf-illustrations">
              <div class="portfolio-image">
                <img src="/images/projects/4.jpg" alt="ClamberPrufe HiSecure ">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe HiSecure</h3>
                <span>Galvanised (3x4/12x76) with stainless steel spikes</span>
              </div>
            </article>
            <article class="portfolio-item pf-uielements pf-media">
              <div class="portfolio-image">
                <img src="/images/projects/5.jpg" alt="ClamberPrufe HiSecure">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe HiSecure</h3>
                <span>Galvanised (3x4/12x76) with electric fence overhang</span>
              </div>
            </article>
            <article class="portfolio-item pf-graphics pf-illustrations">
              <div class="portfolio-image">
                <img src="/images/projects/6.jpg" alt="ClamberPrufe EconoSecure">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe EconoSecure</h3>
                <span>Galvanised (4x4/50x100)</span>
              </div>
            </article>
            <article class="portfolio-item pf-uielements pf-icons">
              <div class="portfolio-image">
                <img src="/images/projects/7.jpg" alt="ClamberPrufe HiSecure ">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe HiSecure</h3>
                <span>Polyester Powder Coated (3x4/12x76) with spikes and flat wrap razor wire overhang</span>
              </div>
            </article>
            <article class="portfolio-item pf-graphics">
              <div class="portfolio-image">
                <img src="/images/projects/8.jpg" alt="ClamberPrufe Anti-terror">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe Anti-Terror</h3>
                <span>Galvanised (5.6x3/12x76) wall mount</span>
              </div>
            </article>
            <article class="portfolio-item pf-uielements pf-media">
              <div class="portfolio-image">
                <img src="/images/projects/9.jpg" alt="ClamberPrufe HiSecure">
              </div>
              <div class="portfolio-desc">
                <h3>ClamberPrufe HiSecure</h3>
                <span>Polyester Powder Coated (3x3/12x76) with electric fence overhang</span>
              </div>
            </article>
          </div>
        </div>
        <Enquire />
        <!-- <a href="contact.html" class="button button-3d nobottomborder button-full center tright t300 font-primary topmargin footer-stick" style="font-size: 26px;">
          <div class="container clearfix">
            Would you like to secure your property with us? <strong>Enquire Here</strong> <i class="icon-angle-right" style="top:3px;"></i>
          </div>
        </a>-->
      </div>
    </section>
    <!-- #content end -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SliderComponent from '@/components/SliderComponent'
import Enquire from '@/components/Enquire'
export default {
  components: {
    SliderComponent,
    Enquire
  },
  computed: {
    ...mapGetters('client', ['getClient']),
    client () {
      return this.getClient
    },
    jsonld () {
      if (!this.client) {
        return null
      }
      return {
        '@context': 'http://schema.org',
        '@type': 'Organization',
        name: this.client.name,
        legalName: this.client.legalName,
        '@id': this.client['@id'],
        logo: this.client.logo,
        image: this.client.image,
        foundingDate: this.client.foundingDate,
        founders: this.client.founders,
        address: this.client.address,
        geo: this.client.geo,
        contactPoint: this.client.contactPoint,
        sameAs: this.client.sameAs,
        url: this.client.url,
        description: this.client.description,
        telephone: this.client.telephone,
        openingHoursSpecification: this.client.openingHoursSpecification,
        priceRange: this.client.priceRange
      }
    },
    team () {
      if (!this.client.founders) {
        return null
      }
      return this.client.founders
    }
  },
  mounted () {
    this.$ga.page(this.$route.path)
    this.$ga.event({
      eventCategory: 'portfolio',
      eventAction: 'browse',
      eventLabel: 'portfolio',
      eventValue: 4
    })
  },
  head () {
    let content = `${process.env.baseUrl}${this.$route.path}`
    content = content.slice(-1) !== '/' ? content + '/' : content
    return {
      title: this.client.title,
      meta: [
        {
          hid: 'og:url',
          property: 'og:url',
          content
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.client.title
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.client.description
        },
        {
          hid: 'description',
          name: 'description',
          content: this.client.description
        }
      ],

      script: [
        { innerHTML: JSON.stringify(this.jsonld), type: 'application/ld+json' }
      ],
      __dangerouslyDisableSanitizers: ['script']
    }
  }
}
</script>

<style>
</style>
