// File: custom.scss
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gunmetal: #292f36;
$nickel: #747572;
$black: #000;

//$blue: #091540;
//$blue: #224870;
//$blue: #7FD1B9;
//$blue: #AECFDF;
//$blue:#6C91BF;
$blue: #355691;
$bluelight: #1446a0;
$indigo: #1e1d1e;
$purple: #6f42c1;
$pink: #db3069;
$red: #fc3d59;
$orange: #fd7e14;
$yellow: #f5d547;
$webyellow: #ffff00;
$green: #168936;
$teal: #20c997;
$cyan: #0a7eb0;
$rwcblue: #00c3ff; // rgba(84, 200, 232, 1)
$rwcpurple: #993dbb; // rgba(153, 61, 187, 1)
$rwcteal: #2ed9c3; // rgba(46, 217, 195, 1)
$rwcred: #dd1188; // rgba(244, 67, 108, 1)
$rwcyellow: #f5a800; // rgba(245, 168, 0, 1)
$rwclime: #c8e854; // rgba(200, 232, 84, 1)
$success: $green;
$info: $pink;
$warning: $yellow;
$danger: $pink;
$light: $white;
$dark: $nickel;
$primary: $blue;
$primaryLight: $blue;

$secondary: $white;
$tertiary: $pink;
$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "cyan": $cyan,
    "teal": $teal,
    "nickel": $nickel,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "red": $red,
    "black": $black,
    "lightgray": $gray-400,
    "gunmetal": $gunmetal,
    "rwcblue": $rwcblue,
    "rwcpurple": $rwcpurple,
    "rwcteal": $rwcteal,
    "rwcred": $rwcred,
    "rwcyellow": $rwcyellow,
    "rwclime": $rwclime,
    "webyellow": $webyellow
  ),
  $theme-colors
);

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 3
    ),
    6: (
      $spacer * 5
    ),
    7: (
      $spacer * 7
    ),
    8: (
      $spacer * 8
    ),
    9: (
      $spacer * 9
    ),
    10: (
      $spacer * 10
    )
  ),
  $spacers
);

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-responsive-font-sizes: true !important;
$enable-validation-icons: true;
// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
// Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
// $font-family-ubuntu: "Ubuntu", sans-serif;
// $font-family-roboto: "Roboto", sans-serif;
// $font-family-varelaround: "Varela Round", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-lato: "Lato", sans-serif;
$body-bg: transparent;
$body-color: $gunmetal;
$font-family-base: $font-family-montserrat;
$font-family-secondary: $font-family-montserrat;
$font-size-base: 0.8rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/src/index.scss";

@import "@/assets/animate.css";
@import "../../node_modules/swiper/css/swiper.css";

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 100%;
$min_font: 23px;
$max_font: 28px;
$calc_font: calc(1vw + 1vh + 0.8vmin);
$calc_h1: calc(1.375rem + 1.5vw);
$calc_h2: calc(1.325rem + 0.9vw);
$calc_h3: calc(1.3rem + 0.1vw);
$calc_h4: calc(1.275rem + 0.3vw);
$calc_h5: calc(1.275rem + 0.3vw);
$calc_h6: calc(1.275rem + 0.3vw);

// @font-face {
//   font-family: 'Varela Round';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
// }

html {
  width: 100%;
  color: #000;
  overflow-x: hidden;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-base;
  max-width: $max_width;
  padding: 0rem;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$mod_1: 1.2; // mobile
$mod_2: 3; // desktop

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-family-secondary;
  font-family: $font-family-secondary;
  font-weight: 900;
  line-height: 1.5;
  color: inherit;
}

h1 {
  display: block;
  font-size: $calc_h1;
  text-transform: capitalize;
}

.text-large {
  font-size: $calc_h1;
  font-weight: normal;
}

.text-medium {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: normal;
}

.text-mediumLarge {
  font-size: $calc_h2;
  font-weight: normal;
}

.text-small {
  font-size: 1rem;
  font-weight: normal;
}

h2 {
  font-size: $calc_h2;
  // font-size: 30px;
  // line-height: 35px;
  text-transform: uppercase;
}

h3 {
  font-size: $calc_h3;
  text-transform: unset;
  text-align: left;
  font-weight: normal;
  line-height: 1.5;
}

h4 {
  font-size: $calc_h4;
}
h5 {
  font-size: $calc_h5;
}
h6 {
  font-size: $calc_h6;
}

.vh-50 {
  height: 50vh;
}

.inlineImage10 {
  width: 10%;
}
.inlineImage20 {
  width: 20%;
}
.inlineImage30 {
  width: 30%;
}
.inlineImage50 {
  width: 50%;
}
.inlineImage75 {
  width: 75%;
}
.inlineImage100 {
  width: 100%;
}
.inlineImageLeft {
  float: left;
  padding-right: 1em;
}
.inlineImageRight {
  float: right;
}

.responsiveImage {
  max-width: 100vw;
  height: auto;

} 
.parralaxEffect {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parralaxEffectGrayscale {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%) saturate(50%) brightness(90%) contrast(100%);
  flex: 1;
  display: flex;
}

.parralaxNormal {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) saturate(100%) brightness(100%) contrast(100%);
}
.parralaxNormalLeft {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) saturate(100%) brightness(100%) contrast(100%);
}

.headerComponent {
  padding-left: 2em;
  padding-right: 2em;
}

.contentHeader {
  // border-left: 5px solid $rwcblue; 
font-weight: bold; color: $rwcblue;}

.sectionHeader {
  font-weight: 600;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  color: $rwcblue;
}

.sectionHeader:before {
  content: '';
  position: absolute;
  width: 30%;
  height: 5px;
  bottom: 0;
  left: 25%;
  border-bottom: 5px solid $rwcblue;
}

.sectionHeaderPrimary {
  font-weight: 600;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  color: $primary;
}

.sectionHeaderPrimary:before {
  content: '';
  position: absolute;
  width: 30%;
  height: 5px;
  bottom: 0;
  left: 25%;
  border-bottom: 5px solid $primary;
}

.borderLeft {
  border-left: 10px solid $rwcblue;
  height: 100%;
  }

hr {
  border: 0;
  height: 1px;
}

.hrprimary {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $secondary, $primary, $secondary);
}

.hrsecondary {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $secondary, $primary);
}

.headerModule {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
  z-index: -1;
}
.headerModuleContents {
  /* This will make it stack on top of the ::before */
  position: relative;
  z-index: 1;
}

/*NAVBAR*/

// .underlinedef:hover:after {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 5px;
//   bottom: 0;
//   left: 0;
//   border-bottom: 5px solid #00c3ff;
// }

//   &:before {
//     content: "";
//     position: absolute;
//     width: 30%;
//     height: 5px;
//     bottom: 0;
//     left: 25%;
//     border-bottom: 5px solid #00c3ff;
//     transition: all 0.25s;
//   }
// }

.underline {
  position: relative;
  margin: 0;
  &:hover,
  &:focus,
  &:active {
    &:before {
      width: 0%;
      left: 0%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid #00c3ff;
  }
}

.b-nav-dropdown[extra-toggle-classes="activeClassServicesProducts"] a span {
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid #00c3ff;
  }
}

.activeClassServicesProducts a[aria-haspopup="true"] span {
  position: relative;
 margin: 0;
 &:hover,
 &:focus,
 &:active {
   &:before {
     width: 0%;
     left: 0%;
   }
 }
 &:after {
   content: "";
   position: absolute;
   width: 100%;
   height: 5px;
   bottom: 0;
   left: 0;
   border-bottom: 5px solid #00c3ff;
 }
}

.activeClass1 {
  text-decoration: none;
  color: white;
  background-color: $gray-900;
}

.activeClass {
  text-decoration: none;
  color: black;
  background-color: $gray-700;
}

.activeClassServicesProducts {
  text-decoration: none;
  color: black !important;
  background-color: #fff !important;
}

#content-desktop {
  display: block;
}
#content-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  #content-desktop {
    display: none;
  }
  #content-mobile {
    display: block;
  }
}

.navbar.dark {
  background: rgb(0, 0, 0); /* IE */
  background: rgba(0, 0, 0, 1); /* NON-IE */
  color: rgb(255, 255, 255); /* IE */
  color: rgba(255, 255, 255, 1); /* NON-IE */
}
.navbar.light {
  background: rgb(255, 255, 255); /* IE */
  background: rgba(255, 255, 255, 1); /* NON-IE */
  color: rgb(0, 0, 0); /* IE */
  color: rgba(0, 0, 0, 1); /* NON-IE */
}
.transparent {
  background: transparent;
}
.navbar.black {
  background-color: black;
}
.navbar.white {
  background: rgb(255, 255, 255); /* IE */
  background: rgba(255, 255, 255, 1); /* NON-IE */
  color: rgb(0, 0, 0); /* IE */
  color: rgba(0, 0, 0, 1); /* NON-IE */
}
.navbar.transparent {
  background: transparent;
}

.logo {
  margin: 0;
  padding: 0;
  width: 10em;
  font-weight: bold;
  margin-right: 0.05em;
}

.navbar-brand {
  font-size: 1rem;
  letter-spacing: 0em;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.nav-item {
  margin-left: 3vw;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
}

/* TOGGLER ICON */



// .custom-toggler .navbar-toggler-icon {
//   border-color: $rwcblue;
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(84, 200, 232, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
// }

.navbar-theoddwave .navbar-collapse,
.navbar-theoddwave .navbar-form {
  border-color: white; /* Whatever Colour you want */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 1;
}

/* END TOGGLER ICON */

// .dropdown:hover > .dropdown-menu {
//   display: block;
//   // background: rgba(0, 0, 0, 1)!important;
// }

// .dropdown > .dropdown-toggle:active {
//   /*Without this, clicking will make it sticky*/
//  pointer-events: none;

// }

.dropdown-menu {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: inherit;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

//upper arrow
// .dropdown-menu:before {
//   content: "";
//   position: absolute;
//   left: 11px;
//   top: -5px;
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 0 10px 10px 10px;
//   border-color: transparent transparent var(--primary) transparent;
//   z-index: 9999;
// }

.dropdown-item {
  padding: 0.5em !important;
  background-color: var(--primary);
  color: var(--secondary);
  margin-top: 0.5vw;
}

.navbar-theoddwave {
  z-index: 100;
  background-color: transparent;
  transition: background-color 1s ease 0s;
  color: white;
}

.navbar-theoddwave .navbar-nav {
  background:none;
}



.navbar-theoddwave .navbar-nav .nav-link {
  color: white;
}

.navbar-contact {
  background-color: black;
  transition: background-color 1s ease 0s;
  color: white;
}

.navbar-contact .navbar-nav .nav-link {
  color: white;
}

.navbar-default {
  background-color: white;
  transition: background-color 1s ease 0s;
  color: black;
}

.navbar-default .navbar-nav .nav-link {
  color: black;
}

// .navbar-theoddwave:hover .navbar-nav:hover .b-nav-dropdown:hover::before {
//   content: "";
//   position: absolute;
//   width: 30%;
//   height: 5px;
//   bottom: 0;
//   left: 25%;
//   border-bottom: 5px solid #00c3ff;
//   transition: all 0.25s;
// }

// nav:hover .nav-item:hover .nav-link:hover::before {
//   content: "";
//   position: absolute;
//   width: 30%;
//   height: 5px;
//   bottom: 0;
//   left: 25%;
//   border-bottom: 5px solid #00c3ff;
// }

// nav:hover .navbar-nav:hover .nav-link:hover {
//   background-color: var(--primary);
//   color: var(--secondary);
// }

// .navbar-theoddwave:hover .navbar-nav:hover .b-nav-dropdown:hover {
//   background-color: var(--primary);
//   color: white;
// }

// nav:hover .navbar-nav:hover .nav-link:hover {
//   background-color: var(--primary);
//   color: var(--secondary);
// }

// nav:active .navbar-nav:active .nav-link:active {
//   background-color: var(--primary);
//   color: var(--secondary);
// }

// nav:focus .navbar-nav:focus .nav-link:focus {
//   background-color: var(--primary);
//   color: var(--secondary);
// }

// .navbar-dark:hover .navbar-nav:hover .nav-link:hover {
//   background-color: var(--primary);
//   color: var(--secondary);
// }

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  text-decoration: underline;
}
.dropdown-menu:hover,
.dropdown-menu:focus,
.dropdown-menu:active {
  color: var(--secondary);
}

.whyusbutton {
  text-transform: capitalize;
  line-height: 1.5;
  // padding: 5;
  letter-spacing: 0.2em;
  margin-right: -0.3em;
  text-align: right;
}

/*END NAVBAR*/

/*HEADER LANDING */
.rellaximage {
  background-color: #000;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wave-container {
  width: 100%;
  height: 10vh;
  overflow: visible;
}

#wave {
  display: block;
  position: relative;
  height: 2vh;
  background: white;
}

#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 80%;
  height: 20vh;
  background-color: red;
  right: -20%;
  top: -20%;
}

#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 50%;
  height: 300px;
  background-color: black;
  left: -5%;
  top: -5vh;
}

.waveClip {
  // height: 100VH;
  margin-top: 50px;
  clip-path: url(#wave);
}

.footerWaveClip {
  clip-path: url(#footerwave);
}

.clip-svg{
  position: absolute;
  left:-200;
  z-index: -1;
}

.clip-wave-bottom {
  -webkit-clip-path: url(#clip-wave);
  clip-path: url(#clip-wave);
}
.clip-wave-top {
  -webkit-clip-path: url(#clip-wave-top);
  clip-path: url(#clip-wave-top);
}

/* Image filters */
.contrast {
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
}

.comboFilter {
  filter: grayscale(0%) saturate(0.3) brightness(0.5);
  -webkit-filter: grayscale(0%) saturate(0.3) brightness(0.5);
}
.resetFilter {
  filter: grayscale(0%) saturate(1);
  -webkit-filter: grayscale(0%) saturate(1);
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.brightness {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}
.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* END HEADER LANDING */

.flex-fixed-width-item {
  flex: 0 0 50%;
}

.bgsteelblue {
  background: rgba($color: #687fac, $alpha: 0.1);
  // border-radius: 22px;
}

.bgreset {
  background: none;
  // border-radius: 22px;
}

.section {
  font-size: 1.125rem;
}


.whyus {
  font-size: 1.4rem;
  // padding: 0 5vw 5vw 5vw;
}

.featureCards {
  padding: 1vw 1vw 1vw 1vw;
  height: 100%;
}


.servicesCard {
  fill: #000000; 
  color: #000000; 
  background-color:#fff; 
  text-decoration: none;

}
.servicesCard:hover {
  fill: #ffffff; 
  color: #ffffff; 
  background-color: $primary; 
  text-decoration: none;
}
.card {
  display:inline-block;
  background: #ffffff 0% 0% no-repeat padding-box;
  // box-shadow: 0px 1px 20px #0000002b;  
  border-radius: 22px;
  opacity: 1;
}

.cardLarge {
  min-height: 350px;
  height: auto; 
}

// .cardSmall {
//   min-height: 240px;
//   height: 240px;
//   min-width: 240px;
//   width: 240px;
//   font-size: 1.125rem;
// }


.cardSmall {
  min-height: 200px;
  height: 200px;
  min-width: 200px;
  width: 200px;
  font-size: 1.125rem;
}

.cardTeam {
  min-height: 300px;
  height: 300px;
  min-width: 300px;
  width: 300px;
  font-size: 1.2rem;
}

//SWIPER

//END SWIPER
.price {
  font-weight: normal;
  }

.col-form-label, .col-form-label-lg {
  color: $rwcblue;
  text-decoration: none;
  text-transform: none;
}

.productLink {
 text-decoration: none;
}
.productLink:hover {
  text-decoration: none;
 }

 .profileLink {
  text-decoration: none;
 }
 .profileLink:hover {
   text-decoration: none;
  }


 .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
  color: #fff;
  background: rgba(0, 0, 0, 1);
  border-color: #000; /*set the color you want here*/
}
.card-header {
  display:flex;
  align-items:center;
  font-size: 1.2rem;
  font-weight: 600;
    border: none;
}


.card-header-custom {
  position: relative;
  height: 95px;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
}

.card-header-text {
  padding: 0 5px 0 125px;
}

.card-text {
  position: relative;
  font-size: 1.125rem;
  padding: 5px 5px 5px 0px;
  word-wrap: break-word;
}

.divider {
  min-height: 20vh;
}

/*LINKS*/
a {
  color: var(--info);
}
a:hover {
  color: var(--info);
}

.buttonComponent {
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 2;
  // padding: 5;
  letter-spacing: 0.2em;
  // margin-right: -0.3em;
  text-align: center;
  color: #000;
  background: #fff linear-gradient(180deg, rgba(255, 255, 255, 0.85), #fff) repeat-x;
  border-color: #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: #000 linear-gradient(180deg, rgba(0, 0, 0, 0.85), #000) repeat-x;
    border-color: #000;
    box-shadow: none;
  }
}

.btn-ripple {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}

.btn-ripple::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 0.5s;
  transform: scale(5, 5);
}

.btn-ripple:active::after {
  padding: 0;
  margin: 0;
  opacity: 0.2;
  transition: 0s;
  transform: scale(0, 0);
}

.componenttext {
  line-height: 2;
  padding: 2em;
  text-align: left;
}

.imageBannerComponent {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vw;
  color: white;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkComponent {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.5;
}

.imageComponentImage {
  padding: 2em;
  z-index: 1;
}
.imageComponentText {
  line-height: 2;
  padding: 2em;
  text-align: left;
}
.overlayImage {
  min-height: 20vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(244, 255, 31, 0.2); /*dim the background*/
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  z-index: 20;
  background-color: rgba(244, 255, 31, 0.2); /*dim the background*/
}

/*SOCIAL*/
.fa {
  font-size: 2em;
  width: 1em;
  text-align: center;
  text-decoration: none;
  margin: 0.1em;
  opacity: 0.8;
}
.fa-small {
  font-size: 1em;
}
.fa-facebook {
  color: var(--secondary);
  text-decoration: none;
}

.fa-linkedin {
  color: var(--secondary);
  text-decoration: none;
}
.fa-whatsapp {
  color: var(--secondary);
  text-decoration: none;
}
.fa-hover:hover {
  color: var(--secondary);
  text-decoration: none;
  opacity: 1;
}

.fa-contact {
  color: var(--primary);
  font-size: 1.2em;
  line-height: 2em;
  text-decoration: none;
}

.fa-contact:hover {
  color: var(--primary);
}

fa-contact-dark {
  color: var(--secondary);
  font-size: 1.2em;
  line-height: 2em;
  text-decoration: none;
  opacity: 1;
}

fa-contact-dark:hover {
  color: var(--secondary);
}

/* FOOTER */
.footer {
  height: 100%;
  width: 100%;
  bottom: 5em;
  // line-height: 2em;
}

.footer h2 {
  padding: unset;
   font-size: 1.2rem;
  font-weight: bold;
  text-transform: none;
  // letter-spacing: 0.25em;
}

.footer a {
  color: var(--secondary);
}

.footer a:hover {
  color: var(--secondary);
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 0vw;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  text-decoration: none;
}

.footer ul a {
  padding: unset;
}

.footer ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.clearfix {
  clear: both;
}

@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
  .w-sm-auto {
    width: auto !important;
  }
  .h-sm-25 {
    height: 25% !important;
  }
  .h-sm-50 {
    height: 50% !important;
  }
  .h-sm-75 {
    height: 75% !important;
  }
  .h-sm-100 {
    height: 100% !important;
  }
  .h-sm-auto {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-auto {
    width: auto !important;
  }
  .h-md-25 {
    height: 25% !important;
  }
  .h-md-50 {
    height: 50% !important;
  }
  .h-md-75 {
    height: 75% !important;
  }
  .h-md-100 {
    height: 100% !important;
  }
  .h-md-auto {
    height: auto !important;
  }
}

@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-auto {
    width: auto !important;
  }
  .h-lg-25 {
    height: 25% !important;
  }
  .h-lg-50 {
    height: 50% !important;
  }
  .h-lg-75 {
    height: 75% !important;
  }
  .h-lg-100 {
    height: 100% !important;
  }
  .h-lg-auto {
    height: auto !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-100 {
    width: 100% !important;
  }
  .w-xl-auto {
    width: auto !important;
  }
  .h-xl-25 {
    height: 25% !important;
  }
  .h-xl-50 {
    height: 50% !important;
  }
  .h-xl-75 {
    height: 75% !important;
  }
  .h-xl-100 {
    height: 100% !important;
  }
  .h-xl-auto {
    height: auto !important;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 2px;
  padding: 10px;
  font-size: 9px;
  display: inline;
  color: #fff;
}
