<template>
  <div>
    <SliderComponent />
    <!-- Page Title
    =============================================-->
    <section id="page-title">
      <div class="container clearfix">
        <h1>Clear View Fencing FAQ's</h1>
        <span>All your Questions about ClamberPrufe clear view fencing answered in one place</span>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="https://jumalutech.co.za">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            FAQs
          </li>
        </ol>
      </div>
    </section>
    <!-- #page-title end -->
    <!-- Content
    =============================================-->
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">
          <!-- Post Content
          =============================================-->
          <div class="postcontent col_last nobottommargin clearfix">
            <div id="faqs" class="faqs">
              <div id="faqs-list" class="fancy-title title-bottom-border">
                <h3>Some of your Questions:</h3>
              </div>
              <ul class="iconlist faqlist">
                <li>
                  <i class="icon-caret-right"></i>
                  <strong>
                    <a href="#faq-1" data-scrollto="#faq-1">Is ClamberPrufe Imported?</a>
                  </strong>
                </li>
                <li>
                  <i class="icon-caret-right"></i>
                  <strong>
                    <a href="#faq-2" data-scrollto="#faq-2">Can Jumalu custom make panels?</a>
                  </strong>
                </li>
                <li>
                  <i class="icon-caret-right"></i>
                  <strong>
                    <a
                      href="#faq-3"
                      data-scrollto="#faq-3"
                    >What are the coating types used for coastal regions?</a>
                  </strong>
                </li>
                <li>
                  <i class="icon-caret-right"></i>
                  <strong>
                    <a href="#faq-4" data-scrollto="#faq-4">How do I become a reseller?</a>
                  </strong>
                </li>
                <li>
                  <i class="icon-caret-right"></i>
                  <strong>
                    <a
                      href="#faq-5"
                      data-scrollto="#faq-5"
                    >How do I install ClamberPrufe? (English Version)</a>
                  </strong>
                </li>
                <li>
                  <i class="icon-caret-right"></i>
                  <strong>
                    <a href="#faq-6" data-scrollto="#faq-6">How do I install ClamberPrufe? (Zulu Version)</a>
                  </strong>
                </li>
                <li>
                  <i class="icon-caret-right"></i>
                  <strong>
                    <a
                      href="#faq-7"
                      data-scrollto="#faq-7"
                    >How do I install ClamberPrufe? (French Version)</a>
                  </strong>
                </li>
              </ul>
              <div class="divider">
                <i class="icon-circle"></i>
              </div>
              <h3 id="faq-1">
                <strong>Q.</strong> Is ClamberPrufe Imported?
              </h3>
              <p>ClamberPrufe clear view fencing is manufactured in South Africa only</p>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
              <h3 id="faq-2">
                <strong>Q.</strong> Can Jumalu custom make panels?
              </h3>
              <p>ClamberPrufe is supplied in standard sizes and we do not custom make panels. Customers can cut standard panels to size.</p>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
              <h3 id="faq-3">
                <strong>Q.</strong>What are the coating types used for coastal regions?
              </h3>
              <p>The following coatings are recommended for coastal regions : Hot Dip Galvanising and/ or Polyester Powder Coating as well as PVC Coating</p>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
              <h3 id="faq-4">
                <strong>Q.</strong>How do I become a reseller?
              </h3>
              <p>To become a reseller please email us your company information and location, email all documentation to info and we will come back to you with further information.</p>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
              <h3 id="faq-5">
                <strong>Q.</strong>How do I install ClamberPrufe? (English)
              </h3>
              <p>Please watch the English version of installation version below</p>
              <!-- Portfolio Single Video
              =============================================-->
              <div class="col_two_third portfolio-single-image nobottommargin">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/xP4ft7KTlPw"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
              <!-- .portfolio-single-image end -->
              <!-- Portfolio Single Content
              =============================================-->
              <div class="col_one_third portfolio-single-content col_last nobottommargin">
                <div class="line"></div>
                <!-- Portfolio Single - Meta
                =============================================-->
                <ul class="portfolio-meta bottommargin">
                  <li>
                    <span>
                      <i class="icon-user"></i>Created by:
                    </span> Jumalu Fencing
                  </li>
                  <li>
                    <span>
                      <i class="icon-calendar3"></i>Completed on:
                    </span> 10 November 2018
                  </li>
                </ul>
                <!-- Portfolio Single - Meta End -->
                <!-- Portfolio Single - Share
                =============================================-->
                <div class="si-share clearfix">
                  <span>Share:</span>
                  <div>
                    <a
                      href="https://www.facebook.com/jumalufencing"
                      class="social-icon si-borderless si-facebook"
                    >
                      <i class="icon-facebook"></i>
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-borderless si-email3">
                      <i class="icon-email3"></i>
                      <i class="icon-email3"></i>
                    </a>
                  </div>
                </div>
                <!-- Portfolio Single - Share End -->
              </div>
              <!-- .portfolio-single-content end -->
              <div class="clear"></div>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
              <h3 id="faq-6">
                <strong>Q.</strong>How do I install ClamberPrufe? (Zulu)
              </h3>
              <p>Please watch the English version of installation version below</p>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
              <!-- Portfolio Single Video
              =============================================-->
              <div class="col_two_third portfolio-single-image nobottommargin">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/rPVmLO9BvII"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
              <!-- .portfolio-single-image end -->
              <!-- Portfolio Single Content
              =============================================-->
              <div class="col_one_third portfolio-single-content col_last nobottommargin">
                <div class="line"></div>
                <!-- Portfolio Single - Meta
                =============================================-->
                <ul class="portfolio-meta bottommargin">
                  <li>
                    <span>
                      <i class="icon-user"></i>Created by:
                    </span> Jumalu Fencing
                  </li>
                  <li>
                    <span>
                      <i class="icon-calendar3"></i>Completed on:
                    </span> 10 November 2018
                  </li>
                </ul>
                <!-- Portfolio Single - Meta End -->
                <!-- Portfolio Single - Share
                =============================================-->
                <div class="si-share clearfix">
                  <span>Share:</span>
                  <div>
                    <a
                      href="https://www.facebook.com/jumalufencing"
                      class="social-icon si-borderless si-facebook"
                    >
                      <i class="icon-facebook"></i>
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-borderless si-email3">
                      <i class="icon-email3"></i>
                      <i class="icon-email3"></i>
                    </a>
                  </div>
                </div>
                <!-- Portfolio Single - Share End -->
              </div>
              <!-- .portfolio-single-content end -->
              <div class="clear"></div>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
              <h3 id="faq-7">
                <strong>Q.</strong>How do I install ClamberPrufe? (French)
              </h3>
              <p>Please watch the English version of installation version below</p>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
              <!-- Portfolio Single Video
              =============================================-->
              <div class="col_two_third portfolio-single-image nobottommargin">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/ndx4VeWvIT4"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
              <!-- .portfolio-single-image end -->
              <!-- Portfolio Single Content
              =============================================-->
              <div class="col_one_third portfolio-single-content col_last nobottommargin">
                <div class="line"></div>
                <!-- Portfolio Single - Meta
                =============================================-->
                <ul class="portfolio-meta bottommargin">
                  <li>
                    <span>
                      <i class="icon-user"></i>Created by:
                    </span> Jumalu Fencing
                  </li>
                  <li>
                    <span>
                      <i class="icon-calendar3"></i>Completed on:
                    </span> 10 November 2018
                  </li>
                </ul>
                <!-- Portfolio Single - Meta End -->
                <!-- Portfolio Single - Share
                =============================================-->
                <div class="si-share clearfix">
                  <span>Share:</span>
                  <div>
                    <a
                      href="https://www.facebook.com/jumalufencing"
                      class="social-icon si-borderless si-facebook"
                    >
                      <i class="icon-facebook"></i>
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-borderless si-email3">
                      <i class="icon-email3"></i>
                      <i class="icon-email3"></i>
                    </a>
                  </div>
                </div>
                <!-- Portfolio Single - Share End -->
              </div>
              <!-- .portfolio-single-content end -->
              <div class="clear"></div>
              <div class="divider divider-right">
                <a href="#" data-scrollto="#faqs-list">
                  <i class="icon-chevron-up"></i>
                </a>
              </div>
            </div>
            <!-- .postcontent end -->
            <div class="line topmargin-sm"></div>
            <div class="section nobg notopmargin nopadding footer-stick">
              <div class="container clearfix">
                <div class="row">
                  <div class="col-lg-7">
                    <img src="/images/services/clear-view-fencing.jpg" alt="clear-view-fencing">
                  </div>
                  <div class="col-lg-5 topmargin-sm">
                    <div class="heading-block nobottomborder">
                      <h2>You're in Good Hands.</h2>
                      <span class="ls1">Five Points that define Our Reliability.</span>
                    </div>
                    <ul class="iconlist iconlist-large iconlist-color">
                      <li>
                        <i class="icon-ok"></i> Extensive knowledge gained from 25 years of experience
                      </li>
                      <li>
                        <i class="icon-ok"></i> Custom designed and dynamically engineered security fencing solutions
                      </li>
                      <li>
                        <i class="icon-ok"></i> 100% Reliability &amp; Guarantee
                      </li>
                      <li>
                        <i class="icon-ok"></i> Highly competitive pricing due to economies of scale, good procurement practice and locally manufactured product
                      </li>
                      <li>
                        <i class="icon-ok"></i> Finance options available on products and services
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #content end -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SliderComponent from '@/components/SliderComponent'
export default {
  components: {
    SliderComponent
  },
  computed: {
    ...mapGetters('client', ['getClient']),
    client () {
      return this.getClient
    },
    jsonld () {
      if (!this.client) {
        return null
      }
      return {
        '@context': 'http://schema.org',
        '@type': 'Organization',
        name: this.client.name,
        legalName: this.client.legalName,
        '@id': this.client['@id'],
        logo: this.client.logo,
        image: this.client.image,
        foundingDate: this.client.foundingDate,
        founders: this.client.founders,
        address: this.client.address,
        geo: this.client.geo,
        contactPoint: this.client.contactPoint,
        sameAs: this.client.sameAs,
        url: this.client.url,
        description: this.client.description,
        telephone: this.client.telephone,
        openingHoursSpecification: this.client.openingHoursSpecification,
        priceRange: this.client.priceRange
      }
    },
    team () {
      if (!this.client.founders) {
        return null
      }
      return this.client.founders
    }
  },
  mounted () {
    this.$ga.page(this.$route.path)
    this.$ga.event({
      eventCategory: 'faqs',
      eventAction: 'browse',
      eventLabel: 'faqs',
      eventValue: 7
    })
  },
  head () {
    let content = `${process.env.baseUrl}${this.$route.path}`
    content = content.slice(-1) !== '/' ? content + '/' : content
    return {
      title: this.client.title,
      meta: [
        {
          hid: 'og:url',
          property: 'og:url',
          content
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.client.title
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.client.description
        },
        {
          hid: 'description',
          name: 'description',
          content: this.client.description
        }
      ],

      script: [
        { innerHTML: JSON.stringify(this.jsonld), type: 'application/ld+json' }
      ],
      __dangerouslyDisableSanitizers: ['script']
    }
  }
}
</script>

<style>
</style>
