<template>
  <div>
    <SliderComponent />
    <!-- Content
    =============================================-->
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">
          <div class="row clearfix">
            <div class="col-lg-6">
              <div class="heading-block nobottomborder bottommargin-sm">
                <h1>ClamberPrufe Clear View Fencing Services</h1>
                <span>Jumalu Fencing is a South African private company supplying specialist ClamberPrufe Clear View security fencing solutions.</span>
              </div>
              <p>
                We offer an extensive range of innovative, aesthetically pleasing, high quality clear view fencing products to secure people, property, premises and assets. Our differentiating factor is based on service excellence, appropriate solution provision, unrivalled quality in product and workmanship, always at the right price.
                Our vigorous attention to detail at every stage of the project is the primary reason that ClamberPrufe is a preferred brand for many of South Africa’s leading architects, property managers, specifiers and their discerning clients…
              </p>

              <nuxt-link
                :to="{ path: '/services/'}"
                class="button button-3d noleftmargin bottommargin-sm"
              >
                Learn More
              </nuxt-link>
            </div>
            <div class="col-lg-6">
              <SliderThumbnails />
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="section row nopadding common-height dark topmargin clearfix">
          <div
            class="col-lg-4 d-none d-md-block"
            style="background: url('/images/services/parallax.jpg') center center repeat; background-size: cover;"
          >
            <div>&nbsp;</div>
          </div>
          <div class="col-lg-8">
            <div class="col-padding">
              <div class="row common-height clearfix">
                <div class="col-md-6 bottommargin">
                  <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#">
                        <img src="/images/icons/product.png" alt="Quality Product">
                      </a>
                    </div>
                    <h3>Product Range</h3>
                    <p>ClamberPrufe Clear View Fencing has been engineered to provide you with the best qualities of mesh panel fencing. We have dynamically engineered security solutions to suit your fencing requirements.</p>
                  </div>
                </div>
                <div class="col-md-6 bottommargin">
                  <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#">
                        <img src="/images/icons/financial-assistance.png" alt="Finance Assistance">
                      </a>
                    </div>
                    <h3>Finance Assistance</h3>
                    <p>We offer finance through Homefin for fencing solutions. Please visit www.home-fin.co.za for further information</p>
                  </div>
                </div>
                <div class="col-md-6 bottommargin">
                  <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#">
                        <img src="/images/icons/quality-service.png" alt="Quality service">
                      </a>
                    </div>
                    <h3>Experience</h3>
                    <p>Extensive knowledge gained from 25 years of experience</p>
                  </div>
                </div>
                <div class="col-md-6 bottommargin">
                  <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#">
                        <img src="/images/icons/competitive-pricing.png" alt="Competitive pricing">
                      </a>
                    </div>
                    <h3>Competitive Pricing</h3>
                    <p>Highly competitive pricing due to economies of scale, good procurement practice and locally manufactured product</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#">
                        <img src="/images/icons/project-management.png" alt="Project Management">
                      </a>
                    </div>
                    <h3>Project Management</h3>
                    <p>Stress-free project management from initial design to final fencing installation</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#">
                        <img src="/images/icons/cost-effective.png" alt="Cost Effective Solutions">
                      </a>
                    </div>
                    <h3>Cost Effective Solutions</h3>
                    <p>Your project delivered on time and to budget</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <Enquire ptext="Want a CLAMBERPRUFE clear view fence solution?" />

      <div class="content-wrap">
        <div class="section nobg notopmargin nopadding footer-stick">
          <div class="container clearfix">
            <div class="row">
              <div class="col-lg-7">
                <img src="/images/services/bottom-trust.jpg" alt="Bottom Trust">
              </div>
              <div class="col-lg-5 topmargin-sm">
                <div class="heading-block nobottomborder">
                  <h2>You're in Good Hands.</h2>
                  <span class="ls1">Five Points that define Our Reliability.</span>
                </div>
                <ul class="iconlist iconlist-large iconlist-color">
                  <li>
                    <i class="icon-ok"></i> Market Leader
                  </li>
                  <li>
                    <i class="icon-ok"></i> Positive Results within Deadlines
                  </li>
                  <li>
                    <i class="icon-ok"></i> 100% Reliability &amp; Guarantee
                  </li>
                  <li>
                    <i class="icon-ok"></i> Dedicated Professional Team
                  </li>
                  <li>
                    <i class="icon-ok"></i> Unmatched After Project Completion Support
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #content end -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SliderComponent from '@/components/SliderComponent'
import Enquire from '@/components/Enquire'
import SliderThumbnails from '@/components/SliderThumbnails'
export default {
  components: {
    SliderComponent,
    Enquire,
    SliderThumbnails
  },
  computed: {
    ...mapGetters('client', ['getClient']),
    client () {
      return this.getClient
    }
  },
  mounted () {
    this.$ga.page(this.$route.path)
    this.$ga.event({
      eventCategory: 'aboutus',
      eventAction: 'browse',
      eventLabel: 'aboutus',
      eventValue: 3
    })
  },
  head () {
    let content = `${process.env.baseUrl}${this.$route.path}`
    content = content.slice(-1) !== '/' ? content + '/' : content
    return {
      title: this.client.title,
      meta: [
        {
          hid: 'og:url',
          property: 'og:url',
          content
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.client.title
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.client.description
        },
        {
          hid: 'description',
          name: 'description',
          content: this.client.description
        }
      ],
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        { innerHTML: JSON.stringify(this.jsonld), type: 'application/ld+json' }
      ]
    }
  }
}
</script>

<style>
</style>
