<template>
  <div>
    <Nav />
    <Header />
    <nuxt />
    <Footer />
  </div>
</template>

<script>
import Nav from '@/components/Nav'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
  name: 'Main',
  components: {
    Nav,
    Header,
    Footer
  },
  head () {
    const canonical = `${process.env.baseUrl}${this.$route.path}`
    const link = [
      { hid: 'canonical', rel: 'canonical', href: canonical }
      // { rel: 'alternate', hreflang: 'en', href: `https://nuxtjs.org${this.$route.path}` },
    ]
    link.forEach((l) => {
      if (l.href.slice(-1) !== '/') {
        l.href = l.href + '/'
      }
    })
    return {
      link
      // script: [
      //   {
      //     src:
      //       "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js",
      //     body: true
      //   }
      // ]
    }
  }
}
</script>
<style>
</style>
