<template>
  <div>
    <SliderComponent />

    <section id="content">
      <div class="content-wrap">
        <div class="promo promo-light promo-full uppercase bottommargin-lg header-stick">
          <div class="container clearfix">
            <img src="/images/clamberprufe-logo.png" alt="clearview fencing" style="height:100px"></img><br>
            <h1 style="letter-spacing: 2px;">
              ClamberPrufe Clear View Fencing Gauteng SA
            </h1>

            <span>We strive to provide our customers with top notch support to suit clear view fencing needs</span>
            <nuxt-link to="/contact/" class="button button-large button-border button-rounded">
              Start Now
            </nuxt-link>
          </div>
        </div>
        <div class="container clearfix">
          <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
              <div class="fbox-media">
                <img style="border-radius: 2px;" src="/images/services/mesh.png" alt="Mesh panel fencing">
              </div>
              <div class="fbox-desc">
                <h3>
                  Dynamically Engineered clear view panels
                  <span class="subtitle">ClamberPrufe Quality</span>
                </h3>
                <p>
                  ClamberPrufe Clear View Fence series has been engineered to provide you with the best qualities of mesh panel fencing.
                  High, Medium and Low security options with Anti-climb and Anti-cut properties due to fence apertures.
                </p>
              </div>
            </div>
          </div>
          <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
              <div class="fbox-media">
                <img style="border-radius: 2px;" src="/images/services/vbend.png" alt="clearvu-fence fencing vbend">
              </div>
              <div class="fbox-desc">
                <h3>
                  High Rigidity
                  <span class="subtitle">Multiple V-bends</span>
                </h3>
                <p>
                  ClamberPrufe clear view is manufactured with high tensile wire of up to 745MPA supported with mutliple v-bends and
                  a vertical wire arrangement, adding increased rigidity to our range of mesh fence panels. Offering maximum protection
                  for permimeter fences.
                </p>
              </div>
            </div>
          </div>
          <div class="col_one_third nobottommargin col_last">
            <div class="feature-box media-box">
              <div class="fbox-media">
                <img style="border-radius: 2px;" src="/images/services/clearview-fence.png" alt="Clearview Fence">
              </div>
              <div class="fbox-desc">
                <h3>
                  Aesthetically Pleasing
                  <span class="subtitle">Unobtrusive Mesh Panels</span>
                </h3>
                <p>
                  ClamberPrufe Clear View Fencing offers high visibilty or see through appearance when one looks at the mesh panel,
                  creating a sense of freedom.
                </p>
              </div>
            </div>
          </div>
        </div>
        <br></br>
        <div class="container clearfix">
          <div class="clear-bottommargin">
            <div class="row common-height clearfix">
              <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                  <div class="fbox-icon">
                    <a href="#">
                      <img src="/images/icons/building.png" alt="Concrete Developments">
                    </a>
                  </div>
                  <h3>Quality Product</h3>
                  <p>Custom designed and dynamically engineered security fencing solutions</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                  <div class="fbox-icon">
                    <a href="#">
                      <img src="/images/icons/bank.png" alt="Finance Assistance">
                    </a>
                  </div>
                  <h3>Finance Assistance</h3>
                  <p>Finance options available on all security fencing products and services</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                  <div class="fbox-icon">
                    <a href="#">
                      <img src="/images/icons/drawer.png" alt="Interiorly Designed">
                    </a>
                  </div>
                  <h3>Competitive Pricing</h3>
                  <p>Highly competitive pricing due to economies of scale, good procurement practice and locally manufactured product</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                  <div class="fbox-icon">
                    <a href="#">
                      <img src="/images/icons/paper-money.png" alt="Cost Effective Solutions">
                    </a>
                  </div>
                  <h3>Cost Effective Solutions</h3>
                  <p>Your project delivered on time and to budget, outstanding results with exceptional value</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                  <div class="fbox-icon">
                    <a href="#">
                      <img src="/images/icons/traffic-cone.png" alt="Smart Builders">
                    </a>
                  </div>
                  <h3>Certified Clear View Installers</h3>
                  <p>
                    ClamberPrufe Clear View trained installers used for clear view installations nationwide (minimum 50m for installations
                    apply)
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                  <div class="fbox-icon">
                    <a href="#">
                      <img src="/images/icons/paint-brush.png" alt="Quality Infrastructure">
                    </a>
                  </div>
                  <h3>Quality Workmanship</h3>
                  <p> Appropriate solution provision, unrivalled quality in product and workmanship</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section nobottommargin">
          <h2 class="center nobottommargin ls1">
            Some of Our Products
          </h2>
        </div>
        <div id="portfolio" class="portfolio grid-container portfolio-full clearfix">
          <article class="portfolio-item pf-media pf-icons">
            <div class="portfolio-image">
              <img src="/images/fencing/antiterror.png" alt="ClamberPrufe Anti-Terror">
              <div class="portfolio-overlay">
                <nuxt-link :to="{ path: '/services/',hash:'#ANTITERROR'}" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </nuxt-link>

                <!-- <a href="services.html#tabs-20" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </a> -->
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>
                <a> ClamberPrufe Anti-Terror Clear View Fence Range</a>
              </h3>
              <span>Extreme Security </span>
            </div>
          </article>
          <article class="portfolio-item pf-illustrations">
            <div class="portfolio-image">
              <img src="/images/fencing/hisecure.png" alt="ClamberPrufe HiSecure ClearVu Fence">
              <div class="portfolio-overlay">
                <nuxt-link :to="{ path: '/services/',hash:'#HISECURE'}" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </nuxt-link>
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>ClamberPrufe HiSecure Clear View Fence Range</h3>
              <span>High Security</span>
            </div>
          </article>
          <article class="portfolio-item pf-graphics pf-uielements">
            <div class="portfolio-image">
              <img src="/images/fencing/econosecure50x100.png" alt="ClamberPrufe EconoSecure Clear View Fence (50x100)">
              <div class="portfolio-overlay">
                <nuxt-link :to="{ path: '/services/',hash:'#ECONOSECURE'}" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </nuxt-link>
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>ClamberPrufe EconoSecure Clear View Fence Range</h3>
              <span>Medium Security / Perimeter </span>
            </div>
          </article>
          <article class="portfolio-item pf-graphics pf-uielements">
            <div class="portfolio-image">
              <img src="/images/fencing/econosecure50X200.png" alt="ClamberPrufe EconoSecure Clear vu Fence (50x200)">
              <div class="portfolio-overlay">
                <nuxt-link :to="{ path: '/services/',hash:'#ECONOSECURE'}" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </nuxt-link>
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>ClamberPrufe EconoSecure Clear View Range</h3>
              <span>Medium Security / Perimeter </span>
            </div>
          </article>
          <article class="portfolio-item pf-icons pf-illustrations">
            <div class="portfolio-image">
              <img src="/images/fencing/maxisecure.png" alt="ClamberPrufe MaxiSecure see through fence">
              <div class="portfolio-overlay">
                <nuxt-link :to="{ path: '/services/',hash:'#MAXISECURE'}" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </nuxt-link>
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>ClamberPrufe MaxiSecure Clear View Fence Range</h3>
              <span>Low Security / Economical </span>
            </div>
          </article>
          <article class="portfolio-item pf-uielements pf-media">
            <div class="portfolio-image">
              <img src="/images/fencing/simplisecure.png" alt="ClamberPrufe SimpliSecure">
              <div class="portfolio-overlay">
                <nuxt-link :to="{ path: '/services/',hash:'#SIMPLISECURE'}" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </nuxt-link>
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>ClamberPrufe SimpliSecure Clear View Fence Range</h3>
              <span>Low Security / Economical </span>
            </div>
          </article>
          <article class="portfolio-item pf-graphics pf-illustrations">
            <div class="portfolio-image">
              <img src="/images/fencing/sqtubepost.png" alt="Square Tube Post System">
              <div class="portfolio-overlay" data-lightbox="gallery">
                <nuxt-link :to="{ path: '/services/',hash:'#POSTS'}" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </nuxt-link>
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>Square Tube Post System</h3>
              <span>Can be used with any ClamberPrufe clearview mesh panel type</span>
            </div>
          </article>
          <article class="portfolio-item pf-uielements pf-icons">
            <div class="portfolio-image">
              <img src="/images/fencing/ipepost.png" alt="IPE Post System">
              <div class="portfolio-overlay">
                <nuxt-link :to="{ path: '/services/',hash:'#POSTS'}" class="center-icon">
                  <i class="icon-line-ellipsis"></i>
                </nuxt-link>
              </div>
            </div>
            <div class="portfolio-desc">
              <h3>IPE Post System</h3>
              <span>Can be used with any ClamberPrufe clear view fence panel type</span>
            </div>
          </article>
        </div>

        <Enquire ptext="Are you excited to start your project?" />

        <!--- TABS --->
        <Tabs class="pt-5" />

        <!-- CLIENTS OVERVIEW -->
        <div class="clear">
        </div>
        <!-- <div fluid class="section nobottommargin center">
          <h2 class="nobottommargin">
            Clients Overview
          </h2>
          <p>
            We prize our Clients more than everything else. We strive to provide Quality Services to all our Clients on a Priority
            Basis. You are invited to join our Clients List and enjoy our Services.
            <nuxt-link to="/services/">
              See more...
            </nuxt-link>
          </p>
        </div>
        <div class="line notopmargin">
          <ul class="clients-grid grid-6 nobottommargin clearfix">
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/1.png" alt="Clear View Fencing">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/2.png" alt="Clearview Fence">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/3.png" alt="clearvu fence">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/4.png" alt="clearvu">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/5.png" alt="clear vu">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/6.png" alt="see through">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/7.png" alt="clamberprufe">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/8.png" alt="Jumalu">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/9.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/10.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/11.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/12.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/13.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/14.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/15.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/16.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/17.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/18.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/19.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/20.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/21.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/22.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/23.png" alt="Clients">
              </a>
            </li>
            <li style="padding: 20px;">
              <a href="javascript:void(0)">
                <img src="/images/clients/24.png" alt="Clients">
              </a>
            </li>
          </ul>
        </div> -->
        <Clients />
      </div>

      <div class="line topmargin-sm"></div>
      <div class="section nobg notopmargin nopadding footer-stick">
        <div class="container clearfix">
          <div class="row">
            <div class="col-lg-7">
              <img src="/images/services/clear-view-fencing.png" alt="clear-view-fencing">
            </div>
            <div class="col-lg-5 topmargin-sm">
              <div class="heading-block nobottomborder">
                <h2>You're in Good Hands.</h2>
                <span class="ls1">Five Points that define Our Reliability.</span>
              </div>
              <ul class="iconlist iconlist-large iconlist-color">
                <li>
                  <i class="icon-ok"></i> Extensive knowledge gained from 25 years of experience
                </li>
                <li>
                  <i class="icon-ok"></i> Custom designed and dynamically engineered security fencing solutions
                </li>
                <li>
                  <i class="icon-ok"></i> 100% Reliability &amp; Guarantee
                </li>
                <li>
                  <i class="icon-ok"></i> Highly competitive pricing due to economies of scale, good procurement practice and locally manufactured product
                </li>
                <li>
                  <i class="icon-ok"></i> Finance options available on products and services
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SliderComponent from '@/components/SliderComponent'
import Enquire from '@/components/Enquire'
import Tabs from '@/components/Tabs'
import Clients from '@/components/Clients'
// import lax from 'lax.js'

export default {
  components: {
    SliderComponent,
    Enquire,
    Tabs,
    Clients
  },
  data () {
    return {
      delay: 1000,
      endVal: 120500,
      options: {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.',
        prefix: '',
        suffix: ''
      }
    }
  },
  computed: {
    ...mapGetters('client', ['getClient']),
    client () {
      return this.getClient
    },
    jsonld () {
      if (!this.client) {
        return null
      }
      return {
        '@context': 'http://schema.org',
        '@type': 'Organization',
        name: this.client.name,
        legalName: this.client.legalName,
        '@id': this.client['@id'],
        logo: this.client.logo,
        image: this.client.image,
        foundingDate: this.client.foundingDate,
        founders: this.client.founders,
        address: this.client.address,
        geo: this.client.geo,
        contactPoint: this.client.contactPoint,
        sameAs: this.client.sameAs,
        url: this.client.url,
        description: this.client.description,
        telephone: this.client.telephone,
        openingHoursSpecification: this.client.openingHoursSpecification,
        priceRange: this.client.priceRange
      }
    },
    team () {
      if (!this.client.founders) {
        return null
      }
      return this.client.founders
    }
  },
  mounted () {
    // https://legacy.gitbook.com/book/matteogabriele/vue-analytics/details
    this.$ga.page(this.$route.path)
    this.$ga.event({
      eventCategory: 'home',
      eventAction: 'browse',
      eventLabel: 'home',
      eventValue: 1
    })
    // this.$gtm.push({ event: 'home' }) // GOOGLE TAG MANAGER TRACKING

    // window.addEventListener('scroll', this.onScroll)
    // this.onScroll()
    // lax.setup({
    //   breakpoints: { small: 0, large: 768 }

    // })
    // window.addEventListener('resize', function () {
    //   lax.updateElements()
    // })
    // const updateLax = () => {
    //   lax.update(window.scrollY)
    //   window.requestAnimationFrame(updateLax)
    // }
    // window.requestAnimationFrame(updateLax)
  },
  // beforeDestroy () {
  //   window.removeEventListener('scroll', this.onScroll)
  // },
  methods: {
    onReady (instance, CountUp) {
      const that = this
      instance.update(that.endVal + 100)
    }
    // onScroll () {
    //   const currentScrollPosition =
    //     window.pageYOffset ||
    //     document.documentElement.scrollTop ||
    //     window.screenTop
    //   // Because of momentum scrolling on mobiles, we shouldn't continue if it is less than zero
    //   if (currentScrollPosition < 0) {
    //   }
    // }
  },
  head () {
    let content = `${process.env.baseUrl}${this.$route.path}`
    content = content.slice(-1) !== '/' ? content + '/' : content
    return {
      title: this.client.title,
      meta: [
        {
          hid: 'og:url',
          property: 'og:url',
          content
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.client.title
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.client.description
        },
        {
          hid: 'description',
          name: 'description',
          content: this.client.description
        }
      ],
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        { innerHTML: JSON.stringify(this.jsonld), type: 'application/ld+json' }
      ]
    }
  }
}
</script>
<style scoped>
</style>
