<template>
  <div>
    <SliderComponent />
    <section id="page-title">
      <div class="container clearfix">
        <h1>Jumalu Fencing Terms and Conditions</h1>
        <span>The content of this web-site is for information purposes only. By downloading any of the information contained in any of the Jumalutech site
          you agree to the terms and conditions as outlined in this notice. If you do not agree to them, do not use this site or download any information.
          <br></br>
          Note that any program, publication, design, product, process, software, technology, information, know-how, or idea described in this web-site may be the subject of other rights, including other intellectual property rights, which are owned by Jumalutech or one of its Partners or Principles or other interested parties and are not licensed to you hereunder. Jumalutech endeavors to ensure that the data and other material in this web-site are correct and complete, but does not accept liability for any error made in or omission from this web-site.
          <br></br>
          Links to other sites from this web-site are for information purposes only. Should the viewer leave this web-site via a link contained herein, and view content that is not provided by Jumalutech, the viewer does so at its own risk. The content of web-sites to which you link will not have been checked for accuracy or otherwise reviewed by Jumalutech.
          <br></br>
          The viewer's use of this document and information is at their own risk. The viewer assumes full responsibility and risk of loss resulting from the use of this document or information.
          <br></br>
          None of Jumalutech, or any partners, principals, or employees, thereof will be liable for any special, indirect, incidental, consequential, or punitive damages or any other damages whatsoever,
          whether in an action of contract, statute, tort (including, without limitation, negligence), or otherwise, relating to the use of this document or information.
          <br></br>
          The viewer agrees to submit exclusively to the law of South Africa and the jurisdiction of the courts of South Africa in respect of any dispute arising out of use of the web-site.
          Should you require any information from us regarding us or our products or services, please direct them to us using the email link:. https://jumalutech.co.za</span>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="https://jumalutech.co.za">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            FAQs
          </li>
        </ol>
      </div>
    </section>
  </div>
</template>

<script>
import SliderComponent from '@/components/SliderComponent'
export default {
  components: {
    SliderComponent
  },
  data () {
    return {
    }
  }
}
</script>

<style>
</style>
